<%- include('../adminLayouts/header.ejs') %> <%- include('../adminLayouts/sidebar.ejs') %> <%-
include('../adminLayouts/navbar.ejs') %>
<!-- partial -->

<!--============================ Adding categories table=============== -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add Category</h4>
                    <form class="forms-sample" action="" method="post" onsubmit="return validForm()">
                        <% if(typeof message !== 'undefined'){ %>
                        <h6 id="invalid-msg" class="text-danger text-center"><%- message %></h6>
                        <% } %>

                        <div class="form-group">
                            <label for="exampleInputName1">Category Name</label>
                            <input
                                type="text"
                                class="form-control"
                                id="exampleInputName1"
                                name="categoryname"
                                placeholder=" Category Name"
                            />
                            <p id="categoryname-error" class="error-message" style="color: red"></p>
                        </div>

                        <div class="form-group">
                            <label for="exampleTextarea1">Category Description</label>
                            <textarea
                                class="form-control"
                                id="exampleTextarea1"
                                rows="4"
                                name="categorydes"
                                placeholder="Category Description"
                            ></textarea>
                            <p id="categorydes-error" class="error-message" style="color: red"></p>
                        </div>

                        <!-- Offer-related fields -->
                        <div class="form-group">
                          <label for="offerName">Offer(%)</label>
                          <input
                          type="text"
                          class="form-control"
                          id="Offer"
                          name="Offer"
                          placeholder="0"
                      />
                      <p id="discount-error" class="error-message" style="color: red"></p>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    </div>
                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../adminLayouts/footer.ejs') %>
