<%- include('../adminLayouts/header.ejs') %> <%- include('../adminLayouts/sidebar.ejs') %> <%-
include('../adminLayouts/navbar.ejs') %>
<!-- partial -->

<!--============================ Adding categories table=============== -->

<div class="main-panel">
  <div class="content-wrapper">
      <div class="col-12 grid-margin stretch-card">
          <div class="card">
              <div class="card-body">
                  <h2 class="card-title">PRODUCTS</h2>
                  <form
                      class="forms-sample"
                      action=""
                      method="post"
                      enctype="multipart/form-data"
                      onsubmit="return productValidForm()"
                  >
                      <div class="form-row">
                          <div class="col-md-6 form-group">
                              <label for="exampleInputName1">Product Name</label>
                              <input
                                  type="text"
                                  class="form-control"
                                  id="exampleInputName1"
                                  name="productname"
                                  placeholder="ProductName"
                              />
                              <p id="productname-error" class="error-message"></p>
                          </div>
                          <div class="col-md-6 form-group">
                              <label for="size">Size</label>
                              <input type="text" class="form-control" id="size" name="size" placeholder="Size">
                              <p id="size-error" class="error-message"></p>
                          </div>
                      </div>

                      <div class="form-row">
                          <div class="col-md-4 form-group">
                              <label for="category">Category</label>
                              <select class="form-control" id="category" name="category">
                                  <% Category.forEach(category => { %>
                                  <option value="<%= category._id %>"><%= category.categoryname %></option>
                                  <% }); %>
                              </select>
                          </div>
                          <div class="col-md-4 form-group">
                              <label for="price">Price</label>
                              <input
                                  type="text"
                                  class="form-control"
                                  id="price"
                                  name="price"
                                  placeholder="Price"
                              />
                              <p id="price-error" class="error-message"></p>
                          </div>
                          <div class="col-md-4 form-group">
                              <label for="quantity">Quantity</label>
                              <input
                                  type="text"
                                  class="form-control"
                                  id="quantity"
                                  name="quantity"
                                  placeholder="Quantity"
                              />
                              <p id="quantity-error" class="error-message"></p>
                          </div>
                      </div>

                      <div class="form-group">
                          <label for="description">Description</label>
                          <textarea class="form-control" id="description" rows="4" name="description"></textarea>
                          <p id="description-error" class="error-message"></p>
                      </div>

                      <div class="container-fluid">
                          <label for="">File upload (Multiple Images)</label>
                          <div class="row">
                              <div class="col-md-6 mb-0">
                                  <div class="dynamic-image-inputs">
                                      <div class="input-group">
                                          <input type="file" name="images" id="image" class="form-control"/>
                                          <div class="input-group-append">
                                              <button class="btn btn-primary add-image-input" type="button">
                                                  Add Image
                                              </button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <p id="image-error" class="error-message"></p>
                          </div>
                      </div>
                      <div class="row mt-5">
                        <div class="col-md-12 text-center">
                          <button type="submit" class="btn btn-primary mr-2">Submit</button>
                          <button class="btn btn-dark">Cancel</button>
                        </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- page-body-wrapper ends -->

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const addImageButton = document.querySelector(".add-image-input");
        const dynamicImageInputs = document.querySelector(".dynamic-image-inputs");

        // Track the number of added images
        let imageCount = 1;

        addImageButton.addEventListener("click", function () {
            if (imageCount < 4) {
                const inputGroup = document.createElement("div");
                inputGroup.className = "input-group";
                const inputFile = document.createElement("input");
                inputFile.type = "file";
                inputFile.name = "images";
                inputFile.className = "form-control";
                inputFile.required = true;
                const inputGroupAppend = document.createElement("div");
                inputGroupAppend.className = "input-group-append";
                const removeButton = document.createElement("button");
                removeButton.className = "btn btn-danger remove-image-input";
                removeButton.type = "button";
                removeButton.textContent = "Remove";
                removeButton.addEventListener("click", function () {
                    inputGroup.remove();
                    imageCount--; // Decrease the image count when removing an input
                });
                inputGroupAppend.appendChild(removeButton);
                inputGroup.appendChild(inputFile);
                inputGroup.appendChild(inputGroupAppend);
                dynamicImageInputs.appendChild(inputGroup);

                imageCount++; // Increase the image count when adding an input
            } else {
                alert("You can add only 4 images.");
            }
        });
    });
</script>

<%- include('../adminLayouts/footer.ejs') %>
