<%- include('../adminLayouts/header.ejs') %> <%- include('../adminLayouts/sidebar.ejs') %> <%-
include('../adminLayouts/navbar.ejs') %>
<!-- partial -->

<!--============================ Adding categories table=============== -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Edit Category</h4>
                    <form class="forms-sample" action="" method="post" onsubmit="return validForm()">
                        <% if(typeof message !== 'undefined'){ %>
                        <h6 id="invalid-msg" class="text-danger text-center"><%- message %></h6>
                        <% } %>

                        <div class="form-group">
                            <label for="exampleInputName1">Category Name</label>
                            <input
                                type="text"
                                class="form-control"
                                id="exampleInputName1"
                                name="categoryname"
                                value="<%= data.categoryname %>"
                            />
                            <p id="categoryname-error" class="error-message" style="color: red"></p>
                        </div>

                        <div class="form-group">
                            <label for="exampleTextarea1">Category Description</label>
                            <textarea
                                class="form-control"
                                id="exampleTextarea1"
                                rows="4"
                                name="categorydes"
                                
                            ><%= data.description %></textarea>
                            <p id="categorydes-error" class="error-message" style="color: red"></p>
                        </div>

                        <!-- Offer-related fields -->
                        <div class="form-group">
                            <label for="offerName">Offer(%)</label>
                            <input
                            type="text"
                            class="form-control"
                            id="Offer"
                            name="Offer"
                            placeholder="0"
                        />
                        <p id="discountPrice-error" class="error-message" style="color: red"></p>
                        </div>

                        <div class="input-container">
                          <input type="hidden" name="id" value="<%= data._id %>" />
                      </div>

                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <button class="btn btn-dark">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../adminLayouts/footer.ejs') %>
