<%- include('../adminLayouts/header.ejs') %> <%- include('../adminLayouts/sidebar.ejs') %> <%-
include('../adminLayouts/navbar.ejs') %>

<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <!-- <div class="col-12 grid-margin stretch-card">
                <div class="card corona-gradient-card">
                  <div class="card-body py-0 px-0 px-sm-3">
                    <div class="row align-items-center">
                      <div class="col-4 col-sm-3 col-xl-2">
                        <img src="/static/admin/images/dashboard/Group126@2x.png" class="gradient-corona-img img-fluid" alt="">
                      </div>
                      <div class="col-5 col-sm-7 col-xl-8 p-0">
                        <h2 class="mb-1 mb-sm-0">Banner Section</h2>
                
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
        </div>
        <div class="row">
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0 p-4"><%= Ucount %></h3>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="col-md-6 col-md-4 col-lg-3">
                                    <span class="icon-md mdi mdi-account-multiple-plus"></span>
                                    
                                </div>
                                <div class="icon icon-box-success">
                                    <a href="/admin/users" style="text-decoration: none"
                                        ><span class="mdi mdi-arrow-top-right icon-item"></span
                                    ></a>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0 p-4"><%= Pcount %></h3>
                                </div>
                            </div>
                            <div class="col-4">
                                <span class="icon-md mdi mdi-snowflake"></span>
                                <div class="icon icon-box-success">
                                    <a href="/admin/view-products"
                                        ><span class="mdi mdi-arrow-top-right icon-item"></span
                                    ></a>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Total Stock</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <div class="d-flex align-items-center align-self-start">
                                    
                                    <h3 class="mb-0 p-4"><%= Bcount %></h3>
                                </div>
                            </div>
                            <div class="col-4">
                                <span class="icon-md mdi mdi-account-alert"></span>
                                <div class="icon icon-box-success">
                                    <a href="/admin/users" style="text-decoration: none"
                                        ><span class="mdi mdi-arrow-top-right icon-item"></span
                                    ></a>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Blocked Users</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0 p-4"><%= Ocount %></h3>
                                </div>
                            </div>
                            <div class="col-4">
                                <span class="icon-md mdi mdi-briefcase-check"></span>
                                <div class="icon icon-box-success">
                                    <a href="/admin/orders" style="text-decoration: none"
                                        ><span class="mdi mdi-arrow-top-right icon-item"></span
                                    ></a>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Total Orders</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Transaction History</h4>
                        <canvas id="transaction-history" class="transaction-chart"></canvas>
                        <div
                            class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3"
                        >
                            <div class="text-md-center text-xl-left">
                                <h6 class="mb-1">Transfer to Paypal</h6>
                                <p class="text-muted mb-0">07 Jan 2019, 09:12AM</p>
                            </div>
                            <div
                                class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0"
                            >
                                <h6 class="font-weight-bold mb-0">$236</h6>
                            </div>
                        </div>
                        <div
                            class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3"
                        >
                            <div class="text-md-center text-xl-left">
                                <h6 class="mb-1">Tranfer to Stripe</h6>
                                <p class="text-muted mb-0">07 Jan 2019, 09:12AM</p>
                            </div>
                            <div
                                class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0"
                            >
                                <h6 class="font-weight-bold mb-0">$593</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row justify-content-between">
                            <h4 class="card-title mb-1">Most Sold Products</h4>
                        </div>

                        <% if (order.mostSoldProductDetails && order.mostSoldProductDetails.length > 0) { %> <% for (let i =
                        0; i < order.mostSoldProductDetails.length; i++) { %>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="preview-item border-bottom">
                                    <div class="preview-thumbnail">
                                        <%= order.mostSoldProductDetails[i].name %><br />
                                        <img
                                            src="/static/admin/Assets/images/products/<%= order.mostSoldProductDetails[i].image[0] %>"
                                            alt="<%= order.mostSoldProductDetails[i].name %> Image"
                                            style="width: 100px; height: 100px"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <br />
                                <h6>Total Quantity Sold:</h6>
                                <%= order.mostSoldProductDetails[i].totalQuantity %>

                                <br />
                                <h6>Price: ₹ <%= order.mostSoldProductDetails[i].price %></h6>
                            </div>
                        </div>
                        <% } %> <% } else { %>
                        <p>No product sold yet.</p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h5>Total Revenue</h5>
                        <div class="row">
                            <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                    <h2 class="mb-0">
                                        <%= order.totalRevenue.toLocaleString('en-IN', { style: 'currency', currency: 'INR'
                                        }) %>
                                    </h2>
                                </div>
                            </div>
                            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-sm-4 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h5>Total Sales</h5>
                        <div class="row">
                            <div class="col-8 col-sm-12 col-xl-8 my-auto p-0">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                    <h2 class="mb-0">
                                        <%= order.totalSales.toLocaleString('en-IN', { style: 'currency', currency: 'INR' })
                                        %>
                                    </h2>
                                </div>
                            </div>
                            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right p-0">
                                <i class="icon-lg mdi mdi-wallet-travel text-danger ml-auto"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h5>Total Order Amount</h5>
                        <div class="row">
                            <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                    <h2 class="mb-0">
                                        <%= order.totalOrder.toLocaleString('en-IN', { style: 'currency', currency: 'INR' })
                                        %>
                                    </h2>
                                </div>
                            </div>
                            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                <i class="icon-lg mdi mdi-monitor text-success ml-auto"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Recent Orders</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Client Name</th>
                                        <th>Order Id</th>

                                        <th>Total Amount</th>
                                        <th>Payment Mode</th>
                                        <th>Order Date</th>
                                        <th>Payment Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% order.orderData.forEach(order => { %>

                                    <tr>
                                        <td>
                                            <div class="col-sm-6 col-md-4 col-lg-3">
                                                <i class="mdi mdi-arrow-right-bold"></i>
                                            </div>
                                        </td>
                                        <td>
                                            <img src="/static/admin/images/faces/face1.jpg" alt="image" />
                                            <span class="pl-2"><%= order.user.first_name %></span>
                                        </td>
                                        <td><%= order.orderTrackId %></td>

                                        <td>₹ <%= order.totalAmount %></td>

                                        <td><%= order.paymentMethod %></td>
                                        <td>
                                            <%= order.createdAt.toLocaleDateString('en-US', { year: 'numeric', month:
                                            'short', day: '2-digit' }).replace(/\//g, '-') %> %>
                                        </td>
                                        <td>
                                            <div
                                                id="status"
                                                class="<%= order.paymentStatus === 'Paid' ? 'badge badge-outline-success' : (order.paymentMethod === 'Cash on Delivery' ? 'badge badge-outline-warning' : '') %>"
                                            >
                                                <%= order.paymentStatus %>
                                            </div>
                                        </td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h5>Daily Sales</h5>
                        <div class="row">
                            <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                    <h2 class="mb-0">
                                        <%= order.dailySales.toLocaleString('en-IN', { style: 'currency', currency: 'INR' })
                                        %>
                                    </h2>
                                </div>
                            </div>
                            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h5>Monthy Sales</h5>
                        <div class="row">
                            <div class="col-8 col-sm-12 col-xl-8 my-auto p-0">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                    <h2 class="mb-0">
                                        <%= order.monthlyRevenue.toLocaleString('en-IN', { style: 'currency', currency:
                                        'INR' }) %>
                                    </h2>
                                </div>
                            </div>
                            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right p-0">
                                <i class="icon-lg mdi mdi-chart-areaspline text-success ml-auto"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h5>Yearly Sales</h5>
                        <div class="row">
                            <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                    <h2 class="mb-0">
                                        <%= order.yearlySales.toLocaleString('en-IN', { style: 'currency', currency: 'INR'
                                        }) %>
                                    </h2>
                                </div>
                            </div>
                            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                <i class="icon-lg mdi mdi-cube-send text-success ml-auto"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xl-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row justify-content-between">
                            <h4 class="card-title">Sale by Category</h4>
                        </div>
                        <div class="preview-list">
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <img src="/static/admin/images/faces/face6.jpg" alt="image" class="rounded-circle" />
                                </div>
                                <div class="preview-item-content d-flex flex-grow">
                                    <div class="flex-grow">
                                        <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                            <h6 class="preview-subject">Men</h6>
                                    
                                        </div>
                                        <p class="text-muted">Orders: <%= order.categoryCount.find(category => category._id === 'Men')?.count || 0 %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <img src="/static/admin/images/faces/face8.jpg" alt="image" class="rounded-circle" />
                                </div>
                                <div class="preview-item-content d-flex flex-grow">
                                    <div class="flex-grow">
                                        <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                            <h6 class="preview-subject">Women</h6>
                                         
                                        </div>
                                        <p class="text-muted">Orders: <%= order.categoryCount.find(category => category._id === 'Women')?.count || 0 %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <img src="/static/admin/images/faces/face9.jpg" alt="image" class="rounded-circle" />
                                </div>
                                <div class="preview-item-content d-flex flex-grow">
                                    <div class="flex-grow">
                                        <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                            <h6 class="preview-subject">Kids</h6>
                                          
                                        </div>
                                        <p class="text-muted">Orders: <%= order.categoryCount.find(category => category._id === 'Kids')?.count || 0 %></p>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row justify-content-between">
                            <h4 class="card-title">Order(count) by Transfer</h4>
                        </div>
                        <div class="preview-list">
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <img src="/static/admin/images/file-icons/64/order.png" alt="image" class="rounded-circle" />
                                </div>
                                <div class="preview-item-content d-flex flex-grow">
                                    <div class="flex-grow">
                                        <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                            <h6 class="preview-subject">Razor Payment</h6>
                                    
                                        </div>
                                        <p class="text-muted">Orders: <%= order.paymentMethod.find(payment => payment._id === 'Razor Payment')?.count || 0 %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <img src="/static/admin/images/file-icons/64/digital-wallet.png" alt="image" class="rounded-circle" />
                                </div>
                                <div class="preview-item-content d-flex flex-grow">
                                    <div class="flex-grow">
                                        <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                            <h6 class="preview-subject">Wallet Transfer</h6>
                                         
                                        </div>
                                        <p class="text-muted">Orders: <%= order.paymentMethod.find(payment => payment._id === 'Wallet Transfer')?.count || 0 %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <img src="/static/admin/images/file-icons/64/cashpaypng.png" alt="image" class="rounded-circle" />
                                </div>
                                <div class="preview-item-content d-flex flex-grow">
                                    <div class="flex-grow">
                                        <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                            <h6 class="preview-subject">Cash on Delivery</h6>
                                          
                                        </div>
                                        <p class="text-muted">Orders: <%= order.paymentMethod.find(payment => payment._id === 'Cash on Delivery')?.count || 0 %></p>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row justify-content-between">
                            <h4 class="card-title">Revenue</h4>
                        </div>
                        <div class="preview-list">
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <img src="/static/admin/images/file-icons/64/cashless-payment.png" alt="image" class="rounded-circle" />
                                </div>
                                <div class="preview-item-content d-flex flex-grow">
                                    <div class="flex-grow">
                                        <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                            <h6 class="preview-subject">Razor Revenue</h6>
                                        </div>
                                        <p class="text-muted"><%= order.razorRevenue.toLocaleString('en-IN', { style: 'currency', currency: 'INR'}) %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <img src="/static/admin/images/file-icons/64/wallet.png" alt="image" class="rounded-circle" />
                                </div>
                                <div class="preview-item-content d-flex flex-grow">
                                    <div class="flex-grow">
                                        <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                            <h6 class="preview-subject">Wallet Revenue</h6>
                                         
                                        </div>
                                        <p class="text-muted"><%= order.walletRevenue.toLocaleString('en-IN', { style: 'currency', currency: 'INR'}) %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <img src="/static/admin/images/file-icons/64/cash-payment.png" alt="image" class="rounded-circle" />
                                </div>
                                <div class="preview-item-content d-flex flex-grow">
                                    <div class="flex-grow">
                                        <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                            <h6 class="preview-subject">Cash on Delivery Revenue</h6>                                        
                                        </div>
                                        <p class="text-muted"><%= order.cashOnDeliveryRevenue.toLocaleString('en-IN', { style: 'currency', currency: 'INR'}) %></p>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="width: 80%; margin: auto">
            <canvas id="ordersChart"></canvas>
        </div>

       
      
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->

    <!-- partial -->
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Sample data (replace this with your actual data)
        const data = {
            labels: ["Day 1", "Day 2", "Day 3", "Day 4", "Day 5"],
            datasets: [
                {
                    label: "Orders",
                    borderColor: "rgb(75, 192, 192)",
                    data: [1, 8, 15, 7, 12],
                    fill: true,
                },
            ],
        };

        // Get the canvas element
        const ctx = document.getElementById("ordersChart").getContext("2d");

        // Create the chart
        const ordersChart = new Chart(ctx, {
            type: "line",
            data: data,
        });
    });
</script>

<%- include('../adminLayouts/footer.ejs') %>
