<%- include('../adminLayouts/header.ejs') %> <%- include('../adminLayouts/sidebar.ejs') %> <%-
include('../adminLayouts/navbar.ejs') %>

<div class="main-panel">
    <div class="content-wrapper">
        <h2 class="card-title text-center mb-4">Dashboard</h2>
        <div class="row">
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0 p-4"><%= Ucount %></h3>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="col-md-6 col-md-4 col-lg-3">
                                    <span class="icon-md mdi mdi-account-multiple-plus"></span>                               
                                </div>
                                <div class="icon icon-box-success">
                                    <a href="/admin/users" style="text-decoration: none"
                                        ><span class="mdi mdi-arrow-top-right icon-item"></span
                                    ></a>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Total Users</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0 p-4"><%= Pcount %></h3>
                                </div>
                            </div>
                            <div class="col-4">
                                <span class="icon-md mdi mdi-snowflake"></span>
                                <div class="icon icon-box-success">
                                    <a href="/admin/view-products"
                                        ><span class="mdi mdi-arrow-top-right icon-item"></span
                                    ></a>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Total Stock</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <div class="d-flex align-items-center align-self-start">
                                    
                                    <h3 class="mb-0 p-4"><%= Bcount %></h3>
                                </div>
                            </div>
                            <div class="col-4">
                                <span class="icon-md mdi mdi-account-alert"></span>
                                <div class="icon icon-box-success">
                                    <a href="/admin/users" style="text-decoration: none"
                                        ><span class="mdi mdi-arrow-top-right icon-item"></span
                                    ></a>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Blocked Users</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0 p-4"><%= Ocount %></h3>
                                </div>
                            </div>
                            <div class="col-4">
                                <span class="icon-md mdi mdi-briefcase-check"></span>
                                <div class="icon icon-box-success">
                                    <a href="/admin/orders" style="text-decoration: none"
                                        ><span class="mdi mdi-arrow-top-right icon-item"></span
                                    ></a>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Total Orders</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Transaction History</h4>
                        <canvas id="transaction-history" class="transaction-chart"></canvas>
                        <div
                            class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3"
                        >
                            <div class="text-md-center text-xl-left">
                                <h6 class="mb-1">Transfer to Paypal</h6>
                                <p class="text-muted mb-0">07 Jan 2019, 09:12AM</p>
                            </div>
                            <div
                                class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0"
                            >
                                <h6 class="font-weight-bold mb-0">$236</h6>
                            </div>
                        </div>
                        <div
                            class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3"
                        >
                            <div class="text-md-center text-xl-left">
                                <h6 class="mb-1">Tranfer to Stripe</h6>
                                <p class="text-muted mb-0">07 Jan 2019, 09:12AM</p>
                            </div>
                            <div
                                class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0"
                            >
                                <h6 class="font-weight-bold mb-0">$593</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row justify-content-between">
                            <h4 class="card-title mb-1">Most Sold Products</h4>
                        </div>

                        <% if (order.mostSoldProductDetails && order.mostSoldProductDetails.length > 0) { %> <% for (let i =
                        0; i < order.mostSoldProductDetails.length; i++) { %>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="preview-item border-bottom">
                                    <div class="preview-thumbnail">
                                        <%= order.mostSoldProductDetails[i].name %><br />
                                        <img
                                            src="/static/admin/Assets/images/products/<%= order.mostSoldProductDetails[i].image[0] %>"
                                            alt="<%= order.mostSoldProductDetails[i].name %> Image"
                                            style="width: 100px; height: 100px"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <br />
                                <h6>Total Quantity Sold:</h6>
                                <%= order.mostSoldProductDetails[i].totalQuantity %>

                                <br />
                                <h6>Price: ₹ <%= order.mostSoldProductDetails[i].price %></h6>
                            </div>
                        </div>
                        <% } %> <% } else { %>
                        <p>No product sold yet.</p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h5>Total Revenue</h5>
                        <div class="row">
                            <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                    <h2 class="mb-0">
                                        <%= order.totalRevenue.toLocaleString('en-IN', { style: 'currency', currency: 'INR'
                                        }) %>
                                    </h2>
                                </div>
                            </div>
                            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-sm-4 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h5>Total Sales</h5>
                        <div class="row">
                            <div class="col-8 col-sm-12 col-xl-8 my-auto p-0">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                    <h2 class="mb-0">
                                        <%= order.totalSales.toLocaleString('en-IN', { style: 'currency', currency: 'INR' })
                                        %>
                                    </h2>
                                </div>
                            </div>
                            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right p-0">
                                <i class="icon-lg mdi mdi-wallet-travel text-danger ml-auto"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h5>Total Order Amount</h5>
                        <div class="row">
                            <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                    <h2 class="mb-0">
                                        <%= order.totalOrder.toLocaleString('en-IN', { style: 'currency', currency: 'INR' })
                                        %>
                                    </h2>
                                </div>
                            </div>
                            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                <i class="icon-lg mdi mdi-monitor text-success ml-auto"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Recent Orders</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Client Name</th>
                                        <th>Order Id</th>
                                        <th>Total Amount</th>
                                        <th>Payment Mode</th>
                                        <th>Order Date</th>
                                        <th>Payment Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% order.orderData.forEach(order => { %>

                                    <tr>
                                    
                                        <td><%= order.address.fullName %></td>                                        
                                       
                                        <td><%= order.orderTrackId %></td>

                                        <td>₹ <%= order.totalAmount %></td>

                                        <td><%= order.paymentMethod %></td>
                                        <td>
                                            <%= order.createdAt.toLocaleDateString('en-US', { year: 'numeric', month:
                                            'short', day: '2-digit' }).replace(/\//g, '-') %> %>
                                        </td>
                                        <td>
                                            <div
                                                id="status"
                                                class="<%= order.paymentStatus === 'Paid' ? 'badge badge-outline-success' : (order.paymentMethod === 'Cash on Delivery' ? 'badge badge-outline-warning' : '') %>"
                                            >
                                                <%= order.paymentStatus %>
                                            </div>
                                        </td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>Sale Chart</h3>
                <h6 class="text-primary">Please select Date</h6>
                <input type="text" id="dateFilter" placeholder="Select Date" data-input>
                <canvas id="salesChart1" width="500" height="400"></canvas>
            </div>
            <div class="col-md-6">
                <h3>Sale Number</h3>
                <h6 class="text-primary">Please select Date</h6>
                <input type="text" id="dateFilter2" placeholder="Select Date" data-input>
                <canvas id="salesBarChart" width="500" height="400"></canvas>
            </div>
        </div>
 
        <div class="row">
            <div class="col-sm-4 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h5>Daily Sales</h5>
                        <div class="row">
                            <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                    <h2 class="mb-0">
                                        <%= order.dailySales.toLocaleString('en-IN', { style: 'currency', currency: 'INR' })
                                        %>
                                    </h2>
                                </div>
                            </div>
                            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h5>Monthy Sales</h5>
                        <div class="row">
                            <div class="col-8 col-sm-12 col-xl-8 my-auto p-0">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                    <h2 class="mb-0">
                                        <%= order.monthlyRevenue.toLocaleString('en-IN', { style: 'currency', currency:
                                        'INR' }) %>
                                    </h2>
                                </div>
                            </div>
                            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right p-0">
                                <i class="icon-lg mdi mdi-chart-areaspline text-success ml-auto"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h5>Yearly Sales</h5>
                        <div class="row">
                            <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                    <h2 class="mb-0">
                                        <%= order.yearlySales.toLocaleString('en-IN', { style: 'currency', currency: 'INR'
                                        }) %>
                                    </h2>
                                </div>
                            </div>
                            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                <i class="icon-lg mdi mdi-cube-send text-success ml-auto"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xl-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row justify-content-between">
                            <h4 class="card-title">Sale by Category</h4>
                        </div>
                        <div class="preview-list">
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <img src="/static/admin/images/faces/face6.jpg" alt="image" class="rounded-circle" />
                                </div>
                                <div class="preview-item-content d-flex flex-grow">
                                    <div class="flex-grow">
                                        <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                            <h6 class="preview-subject">Men</h6>
                                    
                                        </div>
                                        <p class="text-muted">Orders: <%= order.categoryCount.find(category => category._id === 'Men')?.count || 0 %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <img src="/static/admin/images/faces/face8.jpg" alt="image" class="rounded-circle" />
                                </div>
                                <div class="preview-item-content d-flex flex-grow">
                                    <div class="flex-grow">
                                        <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                            <h6 class="preview-subject">Women</h6>
                                         
                                        </div>
                                        <p class="text-muted">Orders: <%= order.categoryCount.find(category => category._id === 'Women')?.count || 0 %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <img src="/static/admin/images/faces/face9.jpg" alt="image" class="rounded-circle" />
                                </div>
                                <div class="preview-item-content d-flex flex-grow">
                                    <div class="flex-grow">
                                        <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                            <h6 class="preview-subject">Kids</h6>
                                          
                                        </div>
                                        <p class="text-muted">Orders: <%= order.categoryCount.find(category => category._id === 'Kids')?.count || 0 %></p>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="col-md-6 col-xl-8 grid-margin stretch-card">
                <canvas id="categoryPieChart" width="300" height="400"></canvas>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xl-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row justify-content-between">
                            <h4 class="card-title">Order(count) by Transfer</h4>
                        </div>
                        <div class="preview-list">
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <img src="/static/admin/images/file-icons/64/order.png" alt="image" class="rounded-circle" />
                                </div>
                                <div class="preview-item-content d-flex flex-grow">
                                    <div class="flex-grow">
                                        <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                            <h6 class="preview-subject">Razor Payment</h6>
                                    
                                        </div>
                                        <p class="text-muted">Orders: <%= order.paymentMethod.find(payment => payment._id === 'Razor Payment')?.count || 0 %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <img src="/static/admin/images/file-icons/64/digital-wallet.png" alt="image" class="rounded-circle" />
                                </div>
                                <div class="preview-item-content d-flex flex-grow">
                                    <div class="flex-grow">
                                        <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                            <h6 class="preview-subject">Wallet Transfer</h6>
                                         
                                        </div>
                                        <p class="text-muted">Orders: <%= order.paymentMethod.find(payment => payment._id === 'Wallet Transfer')?.count || 0 %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <img src="/static/admin/images/file-icons/64/cashpaypng.png" alt="image" class="rounded-circle" />
                                </div>
                                <div class="preview-item-content d-flex flex-grow">
                                    <div class="flex-grow">
                                        <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                            <h6 class="preview-subject">Cash on Delivery</h6>
                                          
                                        </div>
                                        <p class="text-muted">Orders: <%= order.paymentMethod.find(payment => payment._id === 'Cash on Delivery')?.count || 0 %></p>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-8 grid-margin stretch-card">
                <canvas id="paymentMethodDonutChart" width="400" height="400"></canvas>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xl-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row justify-content-between">
                            <h4 class="card-title">Revenue</h4>
                        </div>
                        <div class="preview-list">
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <img src="/static/admin/images/file-icons/64/cashless-payment.png" alt="image" class="rounded-circle" />
                                </div>
                                <div class="preview-item-content d-flex flex-grow">
                                    <div class="flex-grow">
                                        <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                            <h6 class="preview-subject">Razor Revenue</h6>
                                        </div>
                                        <p class="text-muted"><%= order.razorRevenue.toLocaleString('en-IN', { style: 'currency', currency: 'INR'}) %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <img src="/static/admin/images/file-icons/64/wallet.png" alt="image" class="rounded-circle" />
                                </div>
                                <div class="preview-item-content d-flex flex-grow">
                                    <div class="flex-grow">
                                        <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                            <h6 class="preview-subject">Wallet Revenue</h6>
                                         
                                        </div>
                                        <p class="text-muted"><%= order.walletRevenue.toLocaleString('en-IN', { style: 'currency', currency: 'INR'}) %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <img src="/static/admin/images/file-icons/64/cash-payment.png" alt="image" class="rounded-circle" />
                                </div>
                                <div class="preview-item-content d-flex flex-grow">
                                    <div class="flex-grow">
                                        <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                            <h6 class="preview-subject">Cash on Delivery Revenue</h6>                                        
                                        </div>
                                        <p class="text-muted"><%= order.cashOnDeliveryRevenue.toLocaleString('en-IN', { style: 'currency', currency: 'INR'}) %></p>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-8 grid-margin stretch-card">
                <canvas id="revenuePieChart" width="400" height="400"></canvas>
            </div>
        </div>


    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const count1 = parseInt(`<%= order.razorRevenue || 0 %>`)
        const count2 = parseInt(`<%= order.walletRevenue || 0 %>`)
        const count3 = parseInt(`<%= order.cashOnDeliveryRevenue || 0 %>`)
      const revenueData = [
        {
          label: 'Razor Revenue',
          amount: count1,
          color: '#007bff',
        },
        {
          label: 'Wallet Revenue',
          amount: count2,
          color: '#28a745',
        },
        {
          label: 'Cash on Delivery Revenue',
          amount: count3,
          color: '#ffc107',
        },
      ];
  
      var ctx = document.getElementById('revenuePieChart').getContext('2d');
      var revenuePieChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: revenueData.map(revenue => revenue.label),
          datasets: [
            {
              data: revenueData.map(revenue => revenue.amount),
              backgroundColor: revenueData.map(revenue => revenue.color),
            },
          ],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false, // Set to false to make the chart fit its container
        },
      });
    });
  </script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
      const count1 = parseInt(`<%= order.paymentMethod.find(payment => payment._id === 'Razor Payment')?.count || 0 %>`)
      const count2 = parseInt(`<%= order.paymentMethod.find(payment => payment._id === 'Wallet Transfer')?.count || 0 %>`)
      const count3 = parseInt(`<%= order.paymentMethod.find(payment => payment._id === 'Cash on Delivery')?.count || 0 %>`)
    
      const paymentMethodData = [
        {
          label: 'Razor Payment',
          count: count1,
          color: '#007bff',
        },
        {
          label: 'Wallet Transfer',
          count: count2,
          color: '#28a745',
        },
        {
          label: 'Cash on Delivery',
          count: count3,
          color: '#ffc107',
        },
      ];
  
      var ctx = document.getElementById('paymentMethodDonutChart').getContext('2d');
      var paymentMethodDonutChart = new Chart(ctx, {
        type: 'doughnut', // Set chart type to doughnut
        data: {
          labels: paymentMethodData.map(paymentMethod => paymentMethod.label),
          datasets: [
            {
              data: paymentMethodData.map(paymentMethod => paymentMethod.count),
              backgroundColor: paymentMethodData.map(paymentMethod => paymentMethod.color),
            },
          ],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          cutoutPercentage: 60, // Adjust the cutoutPercentage to control the size of the center hole
        },
      });
    });
  </script>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        const count1 = parseInt(`<%= order.categoryCount.find(category => category._id === 'Men')?.count || 0 %>`)
        const count2 = parseInt(`<%= order.categoryCount.find(category => category._id === 'Women')?.count || 0 %>`)
        const count3 = parseInt(`<%= order.categoryCount.find(category => category._id === 'Kids')?.count || 0 %>`)
      
      const categoryData = [
        {
          label: 'Men',
          count: count1,
          color: '#007bff', // You can set a custom color for each category
        },
        {
          label: 'Women',
          count: count2,
          color: '#28a745',
        },
        {
          label: 'Kids',
          count: count3,
          color: '#ffc107',
        },
      ];
  
      var ctx = document.getElementById('categoryPieChart').getContext('2d');
      var categoryPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: categoryData.map(category => category.label),
          datasets: [
            {
              data: categoryData.map(category => category.count),
              backgroundColor: categoryData.map(category => category.color),
            },
          ],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false, // Set to false to make the chart fit its container
        },
      });
    });
  </script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const ctx = document.getElementById('salesChart1').getContext('2d');
        let salesChart;

        // Set the default date to the present date
        const dateFilter = flatpickr('#dateFilter', {
            mode: 'range',
            dateFormat: 'Y-m-d',
            defaultDate: 'today',
            onClose: function (selectedDates, dateStr, instance) {
                const startDate = selectedDates[0] ? selectedDates[0].toISOString() : null;
                const endDate = selectedDates[1] ? selectedDates[1].toISOString() : null;
                updateChart(startDate, endDate);
            },
        });

        // Manually call updateChart with the default date
        const defaultDate = dateFilter.selectedDates[0] ? dateFilter.selectedDates[0].toISOString() : null;
        updateChart(defaultDate, defaultDate);

        function updateChart(startDate, endDate) {
            // Only fetch data if both start and end dates are selected
            if (startDate && endDate) {
                const url = `/admin/get-sales-data?startDate=${startDate}&endDate=${endDate}`;

                fetch(url)
                    .then((response) => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then((data) => {

                        // Check if the 'data' property exists and is an array
                        if (data && Array.isArray(data.data)) {
                            const ordersData = data.data;
                            const aggregatedData = aggregateSalesData(ordersData);

                            if (salesChart) {
                                salesChart.destroy();
                            }

                            const chartLabels = Object.keys(aggregatedData);
                            const chartData = Object.values(aggregatedData);

                            salesChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: chartLabels,
                                    datasets: [
                                        {
                                            label: 'Sales',
                                            backgroundColor: ['#007bff'],
                                            borderColor: '#17a2b8',
                                            data: chartData,
                                            fill: false,
                                        },
                                    ],
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true,
                                            ticks: {
                                                callback: function (value, index, values) {
                                                    return '₹' + value.toLocaleString('en-IN');
                                                },
                                            },
                                        },
                                    },
                                    plugins: {
                                        legend: {
                                            display: false,
                                        },
                                        tooltip: {
                                            callbacks: {
                                                label: function (context) {
                                                    return '₹' + context.parsed.y.toLocaleString('en-IN');
                                                },
                                            },
                                        },
                                    },
                                },
                            });
                        } else {
                            console.error('Invalid data format:', data);
                        }
                    })
                    .catch((error) => {
                        console.error('Error fetching sales data:', error);
                    });
            }
        }

        function aggregateSalesData(data) {
            const aggregatedData = {};

            data.forEach((order) => {
                const orderDate = new Date(order.createdAt).toLocaleDateString('en-US');

                if (!aggregatedData[orderDate]) {
                    aggregatedData[orderDate] = 0;
                }
                aggregatedData[orderDate] += order.totalAmount;
            });

            return aggregatedData;
        }
    });
</script>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        const ctx = document.getElementById('salesBarChart').getContext('2d');
        let salesBarChart;

        const dateFilter = flatpickr('#dateFilter2', {
            mode: 'range',
            dateFormat: 'Y-m-d',
            defaultDate: 'today',
            onClose: function (selectedDates, dateStr, instance) {
                const startDate = selectedDates[0] ? selectedDates[0].toISOString() : null;
                const endDate = selectedDates[1] ? selectedDates[1].toISOString() : null;
                updateChart(startDate, endDate);
            },
        });

        const defaultDate = dateFilter.selectedDates[0] ? dateFilter.selectedDates[0].toISOString() : null;
        updateChart(defaultDate, defaultDate);

        function updateChart(startDate, endDate) {
            if (startDate && endDate) {
            const url = `/admin/get-sales-data?startDate=${startDate}&endDate=${endDate}`;

            fetch(url)
                .then((response) => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                })
                .then((data) => {
                    // Check if the 'data' property exists and is an array
                    if (data && Array.isArray(data.data)) {
                        const ordersData = data.data;
                        const aggregatedData = aggregateSalesData(ordersData);

                        if (salesBarChart) {
                            salesBarChart.destroy();
                        }

                        const chartLabels = Object.keys(aggregatedData);
                        const chartData = Object.values(aggregatedData);

                        salesBarChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: chartLabels,
                                datasets: [{
                                    label: 'Number of Sales',
                                    backgroundColor: '#28a745',
                                    data: chartData,
                                }],
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true,
                                        ticks: {
                                            callback: function (value) {
                                                if (value % 1 === 0) {
                                                    return value;
                                                }
                                            },
                                        },
                                    },
                                },
                                plugins: {
                                    legend: {
                                        display: false,
                                    },
                                    tooltip: {
                                        callbacks: {
                                            label: function (context) {
                                                return 'Number of Sales: ' + context.parsed.y;
                                            },
                                        },
                                    },
                                },
                            },
                        });
                    } else {
                        console.error('Invalid data format:', data);
                    }
                })
                .catch((error) => {
                    console.error('Error fetching sales data:', error);
                });
        }
    }

        function aggregateSalesData(data) {
            const aggregatedData = {};

            data.forEach((order) => {
                const orderDate = new Date(order.createdAt).toLocaleDateString('en-US');

                if (!aggregatedData[orderDate]) {
                    aggregatedData[orderDate] = 0;
                }

                aggregatedData[orderDate]++;
            });

            return aggregatedData;
        }
    });
</script>
  
  

<%- include('../adminLayouts/footer.ejs') %>
