<%- include('../adminLayouts/header.ejs') %>
<%- include('../adminLayouts/sidebar.ejs') %>
<%- include('../adminLayouts/navbar.ejs') %>

<style>
    .status-indicator {
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .status-indicator.orderplaced { background-color: #3498db; color: #fff; }
    .status-indicator.shipped { background-color: #2ecc71; color: #fff; }
    .status-indicator.outfordelivery { background-color: #f39c12; color: #fff; }
    .status-indicator.delivered { background-color: #27ae60; color: #fff; }
    .status-indicator.cancelled { background-color: #e74c3c; color: #fff; }
    .status-indicator.return { background-color: #c0392b; color: #fff; }
    .status-indicator.processing { background-color: #9b59b6; color: #fff; }

    .table th, .table td {
        white-space: nowrap;
    }
    .table thead th, .jsgrid .jsgrid-table thead th {
    font-weight: 700;
    color: #fff;
}
</style>

<div class="main-panel">
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title text-center mb-4">ORDERS</h2>

                            <!-- Search and Filter Form -->
                            <form action="/admin/orders" method="get" class="form-inline mb-3">
                                <div class="form-group mr-2">
                                    <input type="text" class="form-control" placeholder="Search" name="search" value="<%= searchQuery %>">
                                </div>
                                <div class="form-group mr-2">
                                    <select class="form-control" name="payment">
                                        <option value="" <%= paymentFilter === '' ? 'selected' : '' %>>All Payment Methods</option>
                                        <option value="Razor Payment" <%= paymentFilter === 'Razor Payment' ? 'selected' : '' %>>Razor Payment</option>
                                        <option value="Wallet Transfer" <%= paymentFilter === 'Wallet Transfer' ? 'selected' : '' %>>Wallet Transfer</option>
                                        <option value="Cash on Delivery" <%= paymentFilter === 'Cash on Delivery' ? 'selected' : '' %>>Cash on Delivery</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Apply Filter</button>
                            </form>

                            <!-- Order Summary Statistics -->
                            <div class="mt-3">
                                <h4>Order Summary Statistics</h4>
                                <p>Total Orders: <%= orderSummary.totalOrders %></p>
                              
                                <p>Average Order Value: ₹ <%= orderSummary.averageOrderValue.toLocaleString('en-IN', { style: 'currency', currency: 'INR' }) %></p>
                            </div>

                            <!-- Table content -->
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <!-- Table header -->
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Order Id</th>
                                            <th>Order Date</th>
                                            <th>Amount</th>
                                            <th>Payment</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <!-- Table body -->
                                    <tbody>
                                        <% if (orders.length > 0) { %> 
                                            <% for (let i = 0; i < orders.length; i++) { %>
                                                <tr>
                                                    <td><%= (currentPage - 1) * 10 + i + 1 %></td>
                                                    <td><%= orders[i].orderTrackId %></td>
                                                    <td><%= orders[i].createdAt.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }).replace(/\//g, '-') %></td>
                                                    <td>₹ <%= orders[i].totalAmount %></td>
                                                    <td><%= orders[i].paymentMethod %></td>
                                                    <td>
                                                        <div class="btn-group" role="group">
                                                            <a href="/admin/orderDetailss?id=<%= orders[i]._id %>" class="btn btn-info btn-sm">Manage</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% } %> 
                                        <% } else { %>
                                            <tr>
                                                <td colspan="7" class="text-center">
                                                    <div class="error-content text-center">
                                                        <h1 class="error-title">No Orders</h1>
                                                        <p>You have not placed any orders yet.</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>

                            <div class="pagination-container pt-2">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-center">
                            
                                        <% if (currentPage > 1) { %>
                                            <li class="page-item">
                                                <a class="page-link" href="?page=1<%= getQueryParams(searchQuery, statusFilter, paymentFilter) %>" aria-label="First">
                                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                                </a>
                                            </li>
                                        <% } %>
                            
                                        <% const startPage = Math.max(currentPage - 2, 1); %>
                                        <% const endPage = Math.min(currentPage + 2, totalPages); %>
                            
                                        <% for (let i = startPage; i <= endPage; i++) { %>
                                            <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                                <a class="page-link" href="?page=<%= i %><%= getQueryParams(searchQuery, statusFilter, paymentFilter) %>"><%= i %></a>
                                            </li>
                                        <% } %>
                            
                                        <% if (currentPage < totalPages) { %>
                                            <li class="page-item">
                                                <a class="page-link" href="?page=<%= currentPage + 1 %><%= getQueryParams(searchQuery, statusFilter, paymentFilter) %>" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        <% } %>
                            
                                    </ul>
                                </nav>
                            </div>
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../adminLayouts/footer.ejs') %>
