<!-- <%- include('../adminLayouts/header.ejs') %>
<%- include('../adminLayouts/sidebar.ejs') %>
<%- include('../adminLayouts/navbar.ejs') %> -->
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper" >

            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title" style="text-align: center;">PRODUCTS</h2>

                  <form style="margin-top: 20px; text-align: center;">
                    <input type="text" name="search" placeholder="Product name or Size" style="padding: 5px; width: 300px; border: none;">
                    <input type="submit" value="Search" style="padding: 5px; background-color: #007bff; color: #fff;border: none;">
                  </form>

                <br>

                  <div class="table-responsive">
                    <table class="table table-dark">
                      <thead>
                        <tr>

                          <th> Product </th>
                          <th> Category </th>
                          <th> Size </th>
                          <!-- <th> Color </th> -->
                          <th> Price </th>
                          <th> Quantity </th>
                          <th> Image </th>
                          <th> Edit </th>
                          <th> Action </th>
                        </tr>

                      </thead>
                                      

                      <% if (Product.length > 0) {
                        for (let i = 0; i < Product.length; i++) { %>
                          <tr>
                             
                              <td><%= Product[i].productname %></td>
                              <td><%= Product[i].category.categoryname %></td>
                              <td><%= Product[i].size %></td>
                              
                              <!-- <td><%= Product[i].color %></td> -->
                              <td><%= Product[i].price %></td>
                              <td><%= Product[i].quantity %></td>
                              <td>
                                <img src="/static/Assets/images/<%= Product[i].image %>" alt="ProductImage" style="width: 100px; height: 100px; border: none; border-radius: 0;">
                            </td>                                                         
                              <td> <a href="/admin/edit-product">
                                <a href="/admin/edit-product?id=<%= Product[i]._id %>" class="btn btn-outline-secondary btn-icon-text">
                                  Edit <i class="mdi mdi-file-check btn-icon-append"></i>
                                </a>
                                
                              </a>
                              </td>
                              <td>
                                  <% if (Product[i].status === false) { %>
                                    <a href="/admin/unlist-product?id=<%= Product[i]._id %>">
                                      <button type="button" class="btn btn-inverse-success btn-fw">
                                        List
                                      </button>
                                    </a>
                                  <% } else { %>
                                    <a href="/admin/unlist-product?id=<%= Product[i]._id %>">
                                      <button type="button" class="btn btn-inverse-danger btn-fw">
                                        Unlist
                                      </button>
                                    </a> 
                                  <% } %>
                              </td>
                          </tr>
                      <% }
                  }else{
                  %>
                  <tr>
                    <td colspan="5">Product not Found</td>
                  </tr>
                <%
              }
              %>
                    
                     </table>
                     <!-- ------------Adding Pagination -------------- -->

                     <% if (typeof totalPages !== 'undefined') { %>
                      <div class="pagination-container">
                          <% for(let j=1; j <= totalPages; j++){ %>
                              <a href="?page=<%= j %>"><%= j %></a>
                          <% } %>
                      </div>
                  <% } %>
                    


                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        
    

    <!-- <%- include('../adminLayouts/footer.ejs') %> -->