<%- include('../adminLayouts/header.ejs') %>
<%- include('../adminLayouts/sidebar.ejs') %>
<%- include('../adminLayouts/navbar.ejs') %>

<style>
     .table th, .table td {
        white-space: nowrap;
        color: white;
    }
    .table thead th{
      color: orange;
      font-size: large;
    }

</style>

<div class="main-panel">
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title text-center mb-4">Sales Report</h2>
              <div class="text-right mb-3">
                <form action="/admin/export-sales" method="get" class="d-inline">
                  <label for="filter">Filter:</label>
                  <select name="filter" id="filter" class="mr-2" style="width: 100px;">
                    <option value="daily">Daily</option>
                    <option value="weekly">Weekly</option>
                    <option value="monthly">Monthly</option>
                  </select>
                  <button type="submit" class="btn btn-primary">Export to CSV</button>
                </form>
              </div>
       

              <!-- Table content -->
              <div class="table-responsive">
                <table class="table table-bordered">
                  <!-- Table header -->
                  <thead>
                    <tr>
                        <th style="font-weight: 500;">Date</th>
                        <th>Order Id</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Payment</th>
                        <th>Payment Stats</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <!-- Table body -->
                <tbody>
                    <% if (productSales.length > 0) { %> 
                        <% for (let i = 0; i < productSales.length; i++) { %>
                            <tr>
                              <td><%= productSales[i].orderedDate.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }).replace(/\//g, '-') %></td>
                                <td><%= productSales[i].orderTrackId %></td>
                                <td><%= productSales[i].productName %></td>
                                <td><%= productSales[i].orderedQuantity %></td>
                                <td>₹ <%= productSales[i].total %></td>
                                <td><%= productSales[i].paymentMethod %></td>
                                <td><%= productSales[i].paymentStatus %></td>
                                <td><%= productSales[i].status %></td>
                            </tr>
                        <% } %> 
                    <% } else { %>
                        <tr>
                            <td colspan="7" class="text-center">
                                <div class="error-content text-center">
                                    <h1 class="error-title">No Sales</h1>
                                    <p>No sales data available.</p>
                                </div>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../adminLayouts/footer.ejs') %>
