<%- include('../userLayouts/header.ejs') %> <%- include('../userLayouts/navbar.ejs') %>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

<style>
    .product-card {
        border: none;
        transition: box-shadow 0.3s ease;
        height: 350px;
    }

    .product-card:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

    .product-image {
        height: 200px;
        object-fit: cover;
        width: 100%;
    }

    .category {
        color: #444;
    }

    .description {
        color: #777;
    }

    .offer-icon {
        color: #e44d26;
        font-size: 18px;
    }

    .center-line {
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #333;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

    .prices {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-top: 10px;
        font-weight: 500;
    }

    .actual-price {
        position: relative;
        z-index: 2;
    }

    .discounted-price {
        position: relative;
        z-index: 2;
        padding-left: 5px;
    }

    .card-text {
        color: black;
    }

    .card-title {
        font-size: 22px;
    }

    #filterForm {
        max-width: 100%;
    }

    #filterForm .form-group {
        margin-bottom: 15px;
    }

    #filterForm button {
        width: 100%;
    }

    .d-block {
        font-weight: 700;
        color: #e44d26;
    }
    .rating {
  display: flex;
  justify-content: center;
  --fill: #ffc73a;
}


.rating svg {
  width: 1.7rem;
  height: 2rem;
  overflow: visible;
  fill: transparent;
  stroke: var(--stroke);
  stroke-linejoin: bevel;
  stroke-dasharray: 12;
  animation: idle 4s linear infinite;
  transition: stroke 0.2s, fill 0.5s;
}

@keyframes idle {
  from {
    stroke-dashoffset: 24;
  }
}

.rating label:hover svg {
  stroke: var(--fill);
}

.rating input:checked ~ label svg {
  transition: 0s;
  animation: idle 4s linear infinite, yippee 0.75s backwards;
  fill: var(--fill);
  stroke: var(--fill);
  stroke-opacity: 0;
  stroke-dasharray: 0;
  stroke-linejoin: miter;
  stroke-width: 8px;
}

@keyframes yippee {
  0% {
    transform: scale(1);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30% {
    transform: scale(0);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30.1% {
    stroke: var(--fill);
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }

  60% {
    transform: scale(1.2);
    fill: var(--fill);
  }
}
.page-item.active .page-link {
        color: #000;
        background-color: #fff;
        border-color: #000;
    }

</style>

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="/">Home</a> <span class="mx-2 mb-0">/</span><a href="/shop">Shop</a>
                <span class="mx-2 mb-0">/</span> <strong class="text-black font-weight-bold"><%= categoryName %></strong>
            </div>
        </div>
    </div>
</div>

<div class="site-section" style="padding-top: 20px">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-9 order-2">
                <div class="d-flex justify-content-end mb-3">
                    <form class="form-inline">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" name="search" placeholder="Search" />
                            <div class="input-group-append">
                                <button
                                    class="btn px-1 "
                                    style="background-color: rgb(200, 197, 197); border-width: 1px; border-color: #000;padding: 0;"
                                    type="submit"
                                >
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row" style="text-align: center">
                    <% if (products.length > 0) { products.forEach(product => { %>
                    <div class="col-sm-6 col-md-4 mb-1 mb-md-0" data-aos="fade-up">
                        <div class="card product-card">
                            <div class="product-image-wrapper">
                                <a href="/product-info?id=<%= product._id %>">
                                    <img
                                        src="/static/admin/Assets/images/products/<%= product.image[0] %>"
                                        alt="Product Image"
                                        class="card-img-top product-image"
                                    />
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title" style="margin-bottom: 0">
                                    <a href="#" style="color: black"><%= product.productname %></a>
                                </h5>
                                <p class="card-text category" style="margin-bottom: 0;">
                                    <%= product.category.categoryname %>
                                </p>

                                <div class="prices">
                                  <span class="actual-price pl-4">
                                      <% if (categoryDiscount > 0 || (product.discountPercentage && parseFloat(product.discountPercentage) > 0)) { %>
                                          <span class="center-line" style="width: 44px;"></span> ₹<%= product.price %> 
                                      <% } else { %> 
                                          <span class="font-weight-bold ml-5">Price: </span> ₹<%= product.price %> 
                                      <% } %>
                                  </span>
                                  <% if (categoryDiscount > 0 || (product.discountPercentage && parseFloat(product.discountPercentage) > 0)) { %>
                                      <% 
                                          const productDiscountedPrice = product.price - (product.price * product.discountPercentage / 100);
                                          const categoryDiscountedPrice = product.price - (product.price * categoryDiscount / 100);
                                          const finalDiscountedPrice = Math.min(productDiscountedPrice, categoryDiscountedPrice);
                                      %>
                                      <span class="discounted-price offer-icon">
                                          <i data-feather="tag"></i> ₹<%= finalDiscountedPrice %>
                                      </span>
                                  <% } %>
                              </div>

                            </div>
                        </div>
                    </div>
                    <% }); } else { %>
                    <div class="col-12">
                        <p class="text-center">No products available in this category.</p>
                    </div>
                    <% } %>
                </div>
                <br/>

            </div>
            <div class="col-md-3 order-1 mb-5 mb-md-0">
                <div class="border p-4 rounded mb-4">
                    <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
                    <ul class="list-unstyled mb-0">
                        <% categoryProductCounts
                          .sort((a, b) => a.categoryName.localeCompare(b.categoryName))
                          .forEach(categoryCount => { %>
                            <li class="mb-1">
                              <a href="/shop/category/<%= categoryCount.categoryName %>" class="d-flex">
                                <span><%= categoryCount.categoryName %></span>
                                <span class="text-black ml-auto">(<%= categoryCount.productCount %>)</span>
                              </a>
                            </li>
                          <% }); %>
                      </ul>
                </div>

                <div class="border p-4 rounded mb-4">
                    <h3 class="mb-3 h6 text-uppercase text-black d-block">Sort</h3>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-1">
                            <a href="/shop/category/<%= categoryName %>?sort=lowToHigh" class="d-flex align-items-center sort-option" data-sort="lowToHigh">
                                <span>Price low to high</span>
                                <i class="fas fa-sort-amount-up ml-auto"></i>
                            </a>
                        </li>
                        <li class="mb-1">
                            <a href="/shop/category/<%= categoryName %>?sort=highToLow" class="d-flex align-items-center sort-option" data-sort="highToLow">
                                <span>Price high to low</span>
                                <i class="fas fa-sort-amount-down ml-auto"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="border p-4 rounded mb-4">
                    <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter</h3>
                    <form id="filterForm">
                        <div class="form-group">
                            <label for="minPrice">Min Price:</label>
                            <input type="text" class="form-control" id="minPrice" placeholder="Enter min price" />
                        </div>
                        <div class="form-group">
                            <label for="text">Max Price:</label>
                            <input type="text" class="form-control" id="maxPrice" placeholder="Enter max price" />
                        </div>
                        <div class="form-group">
                            <label for="size">Size:</label>
                            <input type="text" class="form-control" id="size" placeholder="Enter size" />
                        </div>
                        <button type="button" class="btn btn-sm" style="background-color: rgb(196, 192, 192); border-width: 1px; border-color: #000" onclick="applyFilters()">Apply Filters</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="pagination pt-2" style="justify-content: center">
            <% if (typeof totalPages !== 'undefined') { %>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <% if (currentPage > 1) { %>
                    <li class="page-item">
                        <a
                            class="page-link"
                            href="?page=<%= currentPage - 1 %>&search=<%= search %>&sort=<%= sortOptions %>&minPrice=<%= filterOptions.minPrice %>&maxPrice=<%= filterOptions.maxPrice %>&size=<%= filterOptions.size %>"
                            aria-label="Previous"
                        >
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <% } %> <% for(let j=1; j <= totalPages; j++){ %>
                    <li class="page-item <%= j === currentPage ? 'active' : '' %>">
                        <a
                            class="page-link"
                            href="?page=<%= j %>&search=<%= search %>&sort=<%= sortOptions %>&minPrice=<%= filterOptions.minPrice %>&maxPrice=<%= filterOptions.maxPrice %>&size=<%= filterOptions.size %>"
                            ><%= j %></a
                        >
                    </li>
                    <% } %> <% if (currentPage < totalPages) { %>
                    <li class="page-item">
                        <a
                            class="page-link"
                            href="?page=<%= currentPage + 1 %>&search=<%= search %>&sort=<%= sortOptions %>&minPrice=<%= filterOptions.minPrice %>&maxPrice=<%= filterOptions.maxPrice %>&size=<%= filterOptions.size %>"
                            aria-label="Next"
                        >
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </nav>
            <% } %>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

<script>
    function applyFilters() {
        const minPrice = encodeURIComponent(document.getElementById("minPrice").value || "");
        const maxPrice = encodeURIComponent(document.getElementById("maxPrice").value || "");
        const size = encodeURIComponent(document.getElementById("size").value || "");

        const categoryName = '<%= categoryName %>';

        alert(categoryName)

        window.location.href = `/shop/category/${categoryName}?page=1&minPrice=${minPrice || ""}&maxPrice=${maxPrice || ""}&size=${size || ""}`;
    }
</script>

<script>
    feather.replace();
</script>

<%- include('../userLayouts/footer.ejs') %>
