<%- include('../userLayouts/header.ejs') %> <%- include('../userLayouts/navbar.ejs') %>

<style>
    .form-label {
        margin-bottom: 0px;
    }
    .modal-dialog {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .card-text span {
        display: inline;
        margin-right: 10px;
    }
</style>

<div class="site-wrap">
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="/">Home</a> <span class="mx-2 mb-0">/</span> <a href="/cart">Cart</a>
                    <span class="mx-2 mb-0">/</span> <strong class="text-black">Checkout</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section" style="padding-top: 40px">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-5 mb-md-0">
                    <h2 class="h3 mb-3 text-black">Billing Details</h2>

                    <div class="row">
                        <% if (address) { %> <% for (let i = 0; i < address.address.length; i++) { %>
                        <div class="col-md-6 col-12 mb-3 mt-3" id="address-card-<%= address.address[i]._id %>">
                            <div class="card p-2" style="background: #f3f3f9; border-radius: 10px">
                                <div class="card-body">
                                    <h6 class="card-title" style="font-size: 15px">
                                        Name:
                                        <span class="card-title data-full-name" id="data-full-name"
                                            ><%= address.address[i].fullName %></span
                                        >
                                    </h6>
                                    <p class="card-text">
                                        Number:
                                        <span class="data-mobile" id="data-mobile"><%= address.address[i].mobile %></span>
                                    </p>
                                    <p class="card-text">
                                        District:
                                        <span class="data-district" id="data-district"
                                            ><%= address.address[i].district %></span
                                        >
                                    </p>
                                    <p class="card-text">
                                        City: <span class="data-city" id="data-city"><%= address.address[i].city %></span>
                                    </p>
                                    <p class="card-text">
                                        State:
                                        <span class="data-state" id="data-state"><%= address.address[i].state %></span>
                                    </p>
                                    <p class="card-text">
                                        Pincode:
                                        <span class="data-pincode" id="data-pincode"
                                            ><%= address.address[i].pincode %></span
                                        >
                                    </p>

                                    <hr class="my-3" />
                                    <div class="d-flex justify-content-between">
                                        <button
                                            class="btn btn-outline-primary-2 edit-address-btn"
                                            type="button"
                                            data-bs-toggle="modal"
                                            data-bs-target="#editAddressModal"
                                            data-address-id="<%= address.address[i]._id %>"
                                        >
                                            Edit
                                        </button>

                                        <a onclick="removeAddress('<%=address.address[i]._id%>')">
                                            <button
                                                class="btn btn-outline-primary-2"
                                                type="button"
                                                data-bs-toggle="modal"
                                                data-bs-target=""
                                            >
                                                Remove
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div style="color: black">
                                <input
                                    type="radio"
                                    name="defaultAddress"
                                    id="defaultAddress_<%= address.address[i]._id %>"
                                />
                                &nbsp; Set as default
                            </div>
                        </div>

                        <% } %> <% } else { %> <% } %>
                    </div>

                    <div class="form-group" id="addAddressForm">
                        <label
                            for="c_ship_different_address"
                            class="text-black"
                            data-toggle="collapse"
                            href="#ship_different_address"
                            role="button"
                            aria-expanded="false"
                            aria-controls="ship_different_address"
                            ><input type="radio" name="defaultAddress" id="defaultAddress" /> Ship To A Different
                            Address?</label
                        >
                        <div class="collapse" id="ship_different_address">
                            <div class="py-2">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="c_diff_fname" class="text-black"
                                            >Full Name <span class="text-danger">*</span></label
                                        >
                                        <input type="text" class="form-control" id="c_diff_fname" name="c_diff_fname" />
                                        <span id="names-error" class="error-message" style="color: red"></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label for="c_diff_mobile" class="text-black"
                                            >Mobile Number <span class="text-danger">*</span></label
                                        >
                                        <input type="text" class="form-control" id="c_diff_mobile" name="c_diff_mobile" />
                                        <span id="mobiles-error" class="error-message" style="color: red"></span>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="c_diff_city" class="text-black"
                                            >City <span class="text-danger">*</span></label
                                        >
                                        <input type="text" class="form-control" id="c_diff_city" name="c_diff_city" />
                                        <span id="citys-error" class="error-message" style="color: red"></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label for="c_diff_state_district" class="text-black"
                                            >District<span class="text-danger">*</span></label
                                        >
                                        <select
                                            class="form-control"
                                            id="c_diff_state_district"
                                            name="c_diff_state_district"
                                        >
                                            <option value="" disabled selected>Select District</option>
                                            <option value="Alappuzha">Alappuzha</option>
                                            <option value="Ernakulam">Ernakulam</option>
                                            <option value="Idukki">Idukki</option>
                                            <option value="Kannur">Kannur</option>
                                            <option value="Kasaragod">Kasaragod</option>
                                            <option value="Kollam">Kollam</option>
                                            <option value="Kottayam">Kottayam</option>
                                            <option value="Kozhikode">Kozhikode</option>
                                            <option value="Malappuram">Malappuram</option>
                                            <option value="Palakkad">Palakkad</option>
                                            <option value="Pathanamthitta">Pathanamthitta</option>
                                            <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                                            <option value="Thrissur">Thrissur</option>
                                            <option value="Wayanad">Wayanad</option>
                                        </select>
                                        <span id="districts-error" class="error-message" style="color: red"></span>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="c_diff_postal_state" class="text-black"
                                            >State<span class="text-danger">*</span></label
                                        >
                                        <select class="form-control" id="c_diff_postal_state" name="c_diff_postal_state">
                                            <option value="" disabled selected>Select State</option>
                                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                            <option value="Assam">Assam</option>
                                            <option value="Bihar">Bihar</option>
                                            <option value="Chhattisgarh">Chhattisgarh</option>
                                            <option value="Goa">Goa</option>
                                            <option value="Gujarat">Gujarat</option>
                                            <option value="Haryana">Haryana</option>
                                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                                            <option value="Jharkhand">Jharkhand</option>
                                            <option value="Karnataka">Karnataka</option>
                                            <option value="Kerala">Kerala</option>
                                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                                            <option value="Maharashtra">Maharashtra</option>
                                            <option value="Manipur">Manipur</option>
                                            <option value="Meghalaya">Meghalaya</option>
                                            <option value="Mizoram">Mizoram</option>
                                            <option value="Nagaland">Nagaland</option>
                                            <option value="Odisha">Odisha</option>
                                            <option value="Punjab">Punjab</option>
                                            <option value="Rajasthan">Rajasthan</option>
                                            <option value="Sikkim">Sikkim</option>
                                            <option value="Tamil Nadu">Tamil Nadu</option>
                                            <option value="Telangana">Telangana</option>
                                            <option value="Tripura">Tripura</option>
                                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                                            <option value="Uttarakhand">Uttarakhand</option>
                                            <option value="West Bengal">West Bengal</option>
                                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                            <option value="Chandigarh">Chandigarh</option>
                                            <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                            <option value="Daman and Diu">Daman and Diu</option>
                                            <option value="Lakshadweep">Lakshadweep</option>
                                            <option value="Delhi">Delhi</option>
                                            <option value="Puducherry">Puducherry</option>
                                        </select>
                                        <span id="states-error" class="error-message" style="color: red"></span>
                                    </div>
                                </div>

                                <div class="form-group row mb-5">
                                    <div class="col-md-6">
                                        <label for="c_diff_country" class="text-black"
                                            >Country <span class="text-danger">*</span></label
                                        >
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="c_diff_country"
                                            name="c_diff_country"
                                            value="India"
                                            readonly
                                        />
                                    </div>

                                    <div class="col-md-6">
                                        <label for="c_diff_pincode" class="text-black"
                                            >Pin Code <span class="text-danger">*</span></label
                                        >
                                        <input type="text" class="form-control" id="c_diff_pincode" name="c_diff_pincode" />
                                        <span id="pincodes-error" class="error-message" style="color: red"></span>
                                    </div>
                                </div>

                                <div>
                                    <button type="submit" class="btn btn-primary btn-sm" id="addAddressBtn">
                                        Add Address
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="c_order_notes" class="text-black">Order Notes</label>
                        <textarea
                            name="c_order_notes"
                            id="c_order_notes"
                            cols="30"
                            rows="5"
                            class="form-control"
                            placeholder="Write your notes here..."
                        ></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row mb-5 ml-5 mt-4">
                        <div class="col-md-12">
                            <h2 class="h3 mb-3 text-black">Coupon Code</h2>
                            <div class="p-3 p-lg-5 border">
                                <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>
                                <div class="input-group w-100">
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="c_code"
                                        placeholder="Coupon Code"
                                        aria-label="Coupon Code"
                                        aria-describedby="button-addon2"
                                    />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary btn-sm" type="button" id="button-addon2">
                                            Apply
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-5 ml-5">
                        <div class="col-md-12">
                            <h2 class="h3 mb-3 text-black">Your Order</h2>
                            <div class="p-1 p-lg-1 border">
                                <table class="table site-block-order-table mb-5">
                                    <thead>
                                        <th>Product</th>
                                        <th>Image</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Subtotal</th>
                                    </thead>
                                    <tbody>
                                        <% if (cart && cart.items && cart.items.length > 0) { %> <%
                                        cart.items.forEach((item) => { %>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="product-image mr-3">
                                                        <img
                                                            src="<%= item.product.image %>"
                                                            alt="<%= item.product.name %>"
                                                            product-id="<%= item.product._id %>"
                                                        />
                                                    </div>
                                                    <div class="product-details">
                                                        <h6 class="product-title"><%= item.product.name %></h6>
                                                        <p class="product-description"><%= item.product.description %></p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <img
                                                    src="/static/admin/Assets/images/products/<%= item.product.image?.[0] %>"
                                                    alt="ProductImage"
                                                    style="max-width: 5rem; max-height: 5rem"
                                                />
                                            </td>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= item.quantity %></td>
                                            <td>₹ <%= item.product.price %></td>
                                            <td>₹ <%= (item.product.price * item.quantity).toFixed(2) %></td>
                                        </tr>
                                        <% }); %> <% } else { %>
                                        <tr>
                                            <td colspan="4">Your cart is empty.</td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>

                                <div class="p-3 mb-1">
                                    <h6>
                                        <div class="d-flex justify-content-between">
                                            <div style="display: inline-block">
                                                <p style="color: black;">SubTotal Amount :</p>
                                            </div>
                                            <div style="display: inline-block">
                                                <p style="color: black">₹ <%= totalAmount.toFixed(2) %></p>
                                            </div>
                                        </div>
                                    </h6>
                                    <div>
                                        <h6>
                                            <div class="d-flex justify-content-between">
                                                <div style="display: inline-block">
                                                    <p style="color: black">Delivery Charges :</p>
                                                </div>
                                                <div style="display: inline-block">
                                                    <p style="color: black">₹ 0.00</p>
                                                </div>
                                            </div>
                                        </h6>
                                    </div>
                                    <div>
                                        <h6>
                                            <div class="d-flex justify-content-between">
                                                <div style="display: inline-block">
                                                    <p style="color: black">Coupon Discount :</p>
                                                </div>
                                                <div style="display: inline-block">
                                                    <p style="color: black">₹ 0.00</p>
                                                </div>
                                            </div>
                                        </h6>
                                    </div>
                                    <div>
                                        <h6>
                                            <div class="d-flex justify-content-between">
                                                <div style="display: inline-block">
                                                    <p style="color: black">Total Amount :</p>
                                                </div>
                                                <div style="display: inline-block">
                                                    <p style="color: black">₹ <%= totalAmount.toFixed(2) %></p>
                                                </div>
                                            </div>
                                        </h6>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="border p-3 mb-1">
                                        <h6 style="color: black">Payment Options</h6>
                                        <div class="form-check mb-3">
                                            <input
                                                class="form-check-input"
                                                type="radio"
                                                name="paymentOption"
                                                id="cashOnDelivery"
                                                value="Cash on Delivery"
                                            />
                                            <label class="form-check-label" for="cashOnDelivery">Cash on Delivery </label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input
                                                class="form-check-input"
                                                type="radio"
                                                name="paymentOption"
                                                id="onlinePayment"
                                                value="Online Payment"
                                            />
                                            <label class="form-check-label" for="onlinePayment"> Online Payment </label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input
                                                class="form-check-input"
                                                type="radio"
                                                name="paymentOption"
                                                id="bankTransfer"
                                                value="Bank Transfer"
                                            />
                                            <label class="form-check-label" for="bankTransfer"> Bank Transfer </label>
                                        </div>
                                    </div>

                                    <div>
                                        <button
                                            type="button"
                                            class="btn btn-primary btn-lg py-3 btn-block placeOrderBtns"
                                            id="placeOrderBtn"
                                            onclick="confirmorder(event)"
                                        >
                                            Place Order
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </form> -->
            </div>
        </div>
    </div>

    <div class="modal fade" id="editAddressModal" tabindex="-1" aria-labelledby="editAddressModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header py-2">
                    <h5 class="modal-title" id="editAddressModalLabel">Edit Address</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body py-2">
                    <form id="editAddressForm" onsubmit="return validsAddress()">
                        <div class="mb-1">
                            <label for="fullName" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="fullName" name="fullName" />
                            <span id="name-error" class="error-message" style="color: red"></span>
                        </div>
                        <div class="mb-1">
                            <label for="mobile" class="form-label">Mobile Number</label>
                            <input type="text" class="form-control" id="mobile" name="mobile" />
                            <span id="mobile-error" class="error-message" style="color: red"></span>
                        </div>
                        <div class="mb-1">
                            <label for="district" class="form-label">District</label>
                            <input type="text" class="form-control" id="district" name="district" />
                            <span id="district-error" class="error-message" style="color: red"></span>
                        </div>
                        <div class="mb-1">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" id="city" name="city" />
                            <span id="city-error" class="error-message" style="color: red"></span>
                        </div>
                        <div class="mb-1">
                            <label for="state" class="form-label">State</label>
                            <input type="text" class="form-control" id="state" name="state" />
                            <span id="state-error" class="error-message" style="color: red"></span>
                        </div>
                        <div class="mb-1">
                            <label for="pincode" class="form-label">Pincode</label>
                            <input type="text" class="form-control" id="pincode" name="pincode" />
                            <span id="pincode-error" class="error-message" style="color: red"></span>
                        </div>
                        <button type="submit" class="btn btn-primary" id="saveChangesBtn">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function confirmorder(event) {
        event.preventDefault();

        Swal.fire({
            title: "Yeahh!!!!",
            text: "Your Order is Succesfull",
            icon: "sucess",
            confirmButtonColor: "#28a745",
            confirmButtonText: "View Details",
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/order";
            }
        });
    }
</script>

<!-- <script>
    document.body.addEventListener("click", async (event) => {
        console.log("clicked");
        if (event.target.matches(".placeOrderBtns")) {
            try {
                const response = await fetch("/order", {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json",
                    },
                });

                if (response.ok) {
                    window.location.href = "/order";
                }
            } catch (error) {
                console.error("There was a problem with the fetch operation:", error);
            }
        }
    });
</script> -->

<script>
    document.getElementById("placeOrderBtn").addEventListener("click", async function () {
        try {
            const selectedAddress = document.querySelector('input[name="defaultAddress"]:checked');

            const selectedAddressId = selectedAddress.id.split("_")[1];

            const fullName = document.getElementById("data-full-name").textContent;
            const mobile = document.getElementById("data-mobile").textContent;
            const city = document.getElementById("data-city").textContent;
            const district = document.getElementById("data-district").textContent;
            const state = document.getElementById("data-state").textContent;
            const pincode = document.getElementById("data-pincode").textContent;

            console.log(district);

            const paymentMethod = document.querySelector('input[name="paymentOption"]:checked').value;

            console.log("dsfljsfhlkjdsf", paymentMethod);
            const notes = document.getElementById("c_order_notes").value;

            const products = [];
            const cartItems = document.querySelectorAll(".site-block-order-table tbody tr");

            cartItems.forEach((item) => {
                const productId = item.querySelector(".product-image img").getAttribute("product-id");
                const quantity = parseInt(item.querySelector("td:nth-child(3)").textContent.trim());
                const price = parseFloat(item.querySelector("td:nth-child(4)").textContent.trim().substring(2)); // Remove '₹ ' and parse as float
                const subtotal = quantity * price;

                products.push({
                    productId: productId,
                    quantity: quantity,
                    price: price,
                    subtotal: subtotal,
                });
            });

            console.log(products);

            const address = {
                fullName: fullName,
                mobile: mobile,
                city: city,
                district: district,
                state: state,
                pincode: pincode,
                country: "India",
            };

            const orderData = {
                address: address,
                paymentMethod: paymentMethod,
                notes: notes,
                productsData: products,
                totalAmount: products.reduce((total, product) => total + product.subtotal, 0),
            };

            console.log(orderData);

            const response = await fetch("/place-order", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(orderData),
            });

            console.log(response);

            if (response.ok) {
                const responseData = await response.json();
                console.log(responseData.message);
            } else {
                console.error("Failed to place order");
            }
        } catch (error) {
            console.error("Error occurred while placing the order", error);
        }
    });
</script>

<script>
    function removeAddress(addressId) {
        // Remove the address card from the DOM
        const addressCard = document.getElementById(`address-card-${addressId}`);
        if (addressCard) {
            addressCard.remove();
        }
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const addAddressBtn = document.getElementById("addAddressBtn");

        addAddressBtn.addEventListener("click", function () {
            const fullName = document.getElementById("c_diff_fname").value;
            const mobile = document.getElementById("c_diff_mobile").value;
            const state = document.getElementById("c_diff_postal_state").value;
            const district = document.getElementById("c_diff_state_district").value;
            const city = document.getElementById("c_diff_city").value;
            const pincode = document.getElementById("c_diff_pincode").value;
            const country = document.getElementById("c_diff_country").value;

            // Validating the data

            const isValid = validateAddressForm(fullName, mobile, district, state, city, pincode);

            if (isValid) {
                // Prepare the request body
                const requestBody = {
                    c_diff_fname: fullName,
                    c_diff_mobile: mobile,
                    c_diff_postal_state: state,
                    c_diff_state_district: district,
                    c_diff_city: city,
                    c_diff_country: country,
                    c_diff_pincode: pincode,
                };
                console.log(requestBody);

                // Send a POST request to the server using Fetch API
                fetch("/addNewAddress", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(requestBody),
                })
                    .then((response) => {
                        if (response.ok) {
                            Swal.fire({
                                icon: "success",
                                title: "Address Added",
                                text: "Your address has been added successfully!",
                                timer: 1000,
                                showConfirmButton: false,
                            });

                            return response.json(); // or return response.text() based on the server response
                        }
                        throw new Error("Network response was not ok.");
                    })
                    .then((data) => {
                        // Handle data from the server
                        console.log(data); // Log the response data from the server
                    })
                    .catch((error) => {
                        // Handle errors
                        console.error("There has been a problem with your fetch operation:", error);
                    });
            }
        });
    });

    function validateAddressForm(fullNames, mobiles, districts, states, citys, pincodes) {
        const nameError = document.getElementById("names-error");
        const mobileError = document.getElementById("mobiles-error");
        const cityError = document.getElementById("citys-error");
        const pincodeError = document.getElementById("pincodes-error");

        const stateError = document.getElementById("states-error");
        const districtError = document.getElementById("districts-error");

        if (!fullNames) {
            nameError.textContent = "Name field should not be empty!";
            setTimeout(function () {
                nameError.textContent = "";
            }, 3000);
            return false;
        }

        const mobileRegex = /^[6-9]\d{9}$/;

        if (!mobiles || !mobileRegex.test(mobiles)) {
            mobileError.textContent = "Mobile should be a 10-digit valid number";
            setTimeout(function () {
                mobileError.textContent = "";
            }, 3000);
            return false;
        }

        if (new Set(mobiles).size === 1) {
            mobileError.textContent = "Mobile should not consist of same digits";
            setTimeout(function () {
                mobileError.textContent = "";
            }, 3000);
            return false;
        }

        if (!citys) {
            cityError.textContent = "City field should not be empty!";
            setTimeout(function () {
                cityError.textContent = "";
            }, 3000);
            return false;
        }

        if (!districts) {
            districtError.textContent = "District field should not be empty!";
            setTimeout(function () {
                districtError.textContent = "";
            }, 3000);
            return false;
        }

        if (!states) {
            stateError.textContent = "State field should not be empty!";
            setTimeout(function () {
                stateError.textContent = "";
            }, 3000);
            return false;
        }

        const pincodeRegex = /^\d{4}$/;

        if (!pincodes || !pincode.match(pincodeRegex)) {
            pincodeError.textContent = "Pincode should be a 6-digit numeric value.";
            setTimeout(function () {
                pincodeError.textContent = "";
            }, 3000);
            return false;
        }

        return true;
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const editButtons = document.querySelectorAll(".edit-address-btn");
        let addressId;

        editButtons.forEach((button) => {
            button.addEventListener("click", async function (event) {
                addressId = event.target.getAttribute("data-address-id");
                console.log(addressId);

                try {
                    // Fetch address details based on addressId from your backend API
                    const response = await fetch(`/address/${addressId}`);
                    console.log(response);
                    const selectedAddress = await response.json();
                    console.log(selectedAddress);

                    // Populate modal fields with address details
                    document.getElementById("fullName").value = selectedAddress.fullName;
                    document.getElementById("mobile").value = selectedAddress.mobile;
                    document.getElementById("district").value = selectedAddress.district;
                    document.getElementById("city").value = selectedAddress.city;
                    document.getElementById("state").value = selectedAddress.state;
                    document.getElementById("pincode").value = selectedAddress.pincode;
                } catch (error) {
                    console.error("Error fetching address:", error);
                }
            });
        });

        // Save Changes Button Click Event
        const saveChangesBtn = document.getElementById("saveChangesBtn");
        saveChangesBtn.addEventListener("click", async function () {
            console.log(addressId);

            async function handleFormSubmission(event) {
                event.preventDefault();
                if (!validsAddress(event)) {
                    return;
                }

                // Get the updated address details from the form fields
                const updatedAddress = {
                    fullName: document.getElementById("fullName").value,
                    mobile: document.getElementById("mobile").value,
                    district: document.getElementById("district").value,
                    city: document.getElementById("city").value,
                    state: document.getElementById("state").value,
                    pincode: document.getElementById("pincode").value,
                };

                try {
                    // Call your backend API endpoint to update the address
                    const response = await fetch(`/updateAddress/${addressId}`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(updatedAddress),
                    });

                    console.log(response);

                    if (response.ok) {
                        // Parse the response JSON data
                        const updatedAddressData = await response.json();

                        Swal.fire({
                            icon: "success",
                            title: "Address Updated",
                            text: "Your address has been updated successfully!",
                            timer: 1000,
                            showConfirmButton: false,
                        }).then(() => {
                            // Reload the page after showing the notification
                            location.reload();
                        });

                        console.log("Address updated successfully on both client and server sides!");
                    } else {
                        // Handle errors here, such as network issues or server errors
                        console.error("Error updating address:", response.statusText);
                    }
                } catch (error) {
                    // Handle other types of errors, such as network issues
                    console.error("Error updating address:", error);
                }

                // Close the modal after initiating the save operation
                const editAddressModal = new bootstrap.Modal(document.getElementById("editAddressModal"));
                editAddressModal.hide();
            }
            const editAddressForm = document.getElementById("editAddressForm");
            editAddressForm.addEventListener("submit", handleFormSubmission);
        });
    });
</script>

<script>
    function validsAddress(event) {
        event.preventDefault();

        const name = document.getElementById("fullName").value;
        const mobile = document.getElementById("mobile").value;
        const state = document.getElementById("state").value;
        const district = document.getElementById("district").value;
        const city = document.getElementById("city").value;
        const pincode = document.getElementById("pincode").value;

        document.getElementById("name-error").textContent = "";
        document.getElementById("state-error").textContent = "";
        document.getElementById("mobile-error").textContent = "";
        document.getElementById("district-error").textContent = "";
        document.getElementById("city-error").textContent = "";
        document.getElementById("pincode-error").textContent = "";

        if (!name) {
            document.getElementById("name-error").textContent = "Name field should not be empty!";
            return false;
        }

        if (!state) {
            document.getElementById("state-error").textContent = "State field should not be empty!";
            return false;
        }

        const mobileRegex = /^[6-9]\d{9}$/;

        if (!mobile || !mobileRegex.test(mobile)) {
            document.getElementById("mobile-error").textContent = "Mobile number should be a 10-digit valid number";
            return false;
        }

        if (new Set(mobile).size === 1) {
            document.getElementById("mobile-error").textContent = "Mobile number should not consist of the same digit.";
            return false;
        }

        if (!district) {
            document.getElementById("district-error").textContent = "District field should not be empty!";
            return false;
        }

        if (!city) {
            document.getElementById("city-error").textContent = "City field should not be empty!";
            return false;
        }

        const pincodeRegex = /^\d{6}$/;

        if (!pincode || !pincode.match(pincodeRegex)) {
            document.getElementById("pincode-error").textContent = "Pincode should be a 6-digit numeric value.";
            return false;
        }

        return true;
    }
</script>

<%- include('../userLayouts/footer.ejs') %>
