<%- include('../userLayouts/header.ejs') %> <%- include('../userLayouts/navbar.ejs') %>

<style>

    .fork {
        color: black;
        font-weight: 400;
    }
    .d-block, .a-block{
        color: black;
        font-weight: 700;
    }
    .c-block{
        color: black;
        font-weight: 400;
    }
    
</style>
<div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0">
          <a href="/">Home</a> <span class="mx-2 mb-0">/</span>
          <strong class="text-black">Order</strong>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-10 p-3" id="invoice">
        <div class="card">
          <div class="invoice p-1 text-center">
            <h2 class="mb-3 mt-3">Your Orders</h2>

                   
                    <div class="product border-bottom table-responsive">
                        <table class="table" style="border: 1px solid black; border-collapse: collapse; width: 100%;">
                            <thead>
                                <td class="a-block" style="border: 1px solid black;">Product</td>
                                <td class="a-block" style="border: 1px solid black;">Details</td>
                                <td class="a-block" style="border: 1px solid black;">Payment Method</td>
                                <td class="a-block" style="border: 1px solid black;">Payment Status</td>
                                <td class="a-block" style="border: 1px solid black;">Subtotal</td>
                                <td class="a-block" style="border: 1px solid black;">Action</td>
                            
                            </thead>
                            <tbody>
                                <% if (data && data.length > 0) { %> <% data.forEach(order => { %> <%
                                order.products.forEach(item => { %>
                                <tr>
                                    <td width="20%" >
                                     
                                        
                                        <img
                                            src="/static/admin/Assets/images/products/<%= item.productId.image[0] %>"
                                            width="90"
                                            height="90"
                                            alt="Product Image"
                                        />
                                        <br>
                                        <span class="c-block"><%= item.productId.productname %></span>
                              
                                       
                                    </td>
                                    <td width="20%">
                                        <div class="text-center align-center">
                                            <span class="d-block">Quantity: <%= item.quantity %></span>
                                            <span class="c-block" style="text-decoration: line-through;">Price: ₹ <%= item.productId.price %></span>
                                            <span class="c-block">Price: ₹ <%= item.price %></span>
                                        </div>
                                    </td>
                                    
                                    

                                    <td width="20%">
                                        <div class="text-center align-center">
                                            <span class="c-block"
                                                ><%= order.paymentMethod %></span
                                            >
                                        </div>
                                    </td>
                                    <td width="20%">
                                        <div class="align-center">
                                            <span class="c-block"
                                                ><%= order.paymentStatus %></span
                                            >
                                        </div>
                                    </td>

                                    <td width="20%">
                                        <div>
                                            <span class="c-block"
                                                >₹ <%= (item.quantity * item.price).toFixed(2) %></span
                                            >
                                        </div>
                                    </td>

                                    <td width="20%">
                                        <div>
                                            <a href="/invoice?productId=<%= item.productId._id %>&orderId=<%= order._id %>&productIdss=<%= item._id %>">
                                                <button class="btn-sm btn-primary">Track</button>
                                            </a>
                                            
                                        </div>
                                    </td>                                                                                                                      
                                     
                                </tr>                            
                             
                              
                                <% }); %> <% }); %> <% } else { %>
                                <tr>
                                    <td colspan="3">
                                        <p class="text-center">No products available.</p>
                                    </td>
                                </tr>
                                <% } %>
                           
                            </tbody>
                  
                        </table>
            
                    </div>
                    <div class="row d-flex">
                        <div class="col-md-6">
                            <h3 style="color: black">Shipping Address</h3>
                            <table class="table table-borderless">
                                <tbody class="totals">
                                    <% data.forEach(function(order) { %>
                                    <div class="fork">
                                        <span><%= order.address.fullName %></span>
                                    </div>
                                    <div class="fork">
                                        <span><%= order.address.city %></span>
                                    </div>

                                    <div class="fork">
                                        <span><%= order.address.district %></span>
                                    </div>

                                    <div class="fork">
                                        <span><%= order.address.state %></span>
                                    </div>
                                    <div class="fork">
                                        <span><%= order.address.country %></span>
                                    </div>
                                    <div class="fork">
                                        <span>PIN: <%= order.address.pincode %></span>
                                    </div>
                                    <div class="fork">
                                        <span>Mobile Number: <%= order.address.mobile %></span>
                                    </div>

                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <h3 style="color: black; padding-left: 10px;">Billing Details</h3>
                            <table class="table table-borderless">
                                <tbody class="totals">
                                    <% data.forEach(function(product) { %>
                                    <tr>
                                        <td>
                                            <div class="text-left">
                                                <span class="d-block">Subtotal</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <span class="c-block">₹ <%= product.totalAmount.toFixed(2) %></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-left">
                                                <span class="d-block">Shipping Fee</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <span class="c-block">₹0.00</span>
                                            </div>
                                        </td>
                                    </tr>
                                
                                    <tr>
                                        <td>
                                            <div class="text-left">
                                                <span class="d-block">Coupon Discount</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <span class="c-block">₹ <%= product.couponDiscount.toFixed(2) %></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="border-top border-bottom">
                                        <td>
                                            <div class="text-left">
                                                <span class="font-weight-bold">Total</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <span class="font-weight-bold">₹ <%= (product.totalAmount -product.couponDiscount).toFixed(2) %></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
 
        
              
                </div>
            </div>
        </div>
       
    </div>
</div>


<script>
    document.getElementById('downloadButton').addEventListener('click', async () => {
        const invoiceElement = document.getElementById('invoice');

        try {
            const canvas = await html2canvas(invoiceElement);
            const pdf = new jspdf.jsPDF('p', 'mm', 'a4'); // Use jspdf.jsPDF instead of jsPDF

            pdf.addImage(canvas.toDataURL('image/jpeg', 1.0), 'JPEG', 0, 0, 210, 297);

            console.log('Inside pdf callback');
            console.log(pdf);

            pdf.save('invoice.pdf');

            console.log('After pdf');
        } catch (error) {
            console.error('Error generating PDF:', error);
        }
    });
</script>



<%- include('../userLayouts/footer.ejs') %>
