<%- include('../userLayouts/header.ejs') %> <%- include('../userLayouts/navbar.ejs') %>

<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="invoice p-5">
                    <h5>Your Order Confirmed!</h5>
                    <span class="font-weight-bold d-block mt-4">Hello, Chris</span>
                    <span>Your order has been confirmed and will be shipped in the next two days!</span>
                    <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="py-2">
                                            <span class="d-block text-muted">Order Date</span>
                                            <span>12 Jan, 2018</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="py-2">
                                            <span class="d-block text-muted">Order No</span>
                                            <span>MT12332345</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="py-2">
                                            <span class="d-block text-muted">Payment</span>
                                            <span>
                                                <img
                                                    src="https://img.icons8.com/color/48/000000/mastercard.png"
                                                    width="20"
                                                    alt="Payment Icon"
                                                />
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="py-2">
                                            <span class="d-block text-muted">Shipping Address</span>
                                            <span>414 Advert Avenue, NY, USA</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="product border-bottom table-responsive">
                      <table class="table table-borderless">
                        <tbody>
                            <% if (data && data.length > 0) { %> <% data.forEach(order => { %> <%
                            order.products.forEach(item => { %>
                            <tr>
                                <td width="20%">
                                    <img src="/static/admin/Assets/images/products/<%= item.productId.image[0] %>" width="90" alt="Product Image" />
                                </td>
                                <td width="60%">
                                  <span class="font-weight-bold"><%= item.productId.productname %></span>
                                  <div class="product-qty">
                                      <span class="d-block">Quantity: <%= item.quantity %></span>
                                      <span>Price: $ <%= item.price %></span>
                                  </div>
                              </td>
                              
                              <td width="20%">
                                  <div class="text-right">
                                      <span class="font-weight-bold">$<%= (item.quantity * item.price).toFixed(2) %></span>
                                  </div>
                              </td>
                              
                            </tr>
                            <% }); %> <% }); %> <% } else { %>
                            <tr>
                                <td colspan="3">
                                    <p class="text-center">No products available.</p>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                    
                    </div>
                    <div class="row d-flex justify-content-end">
                        <div class="col-md-5">
                            <table class="table table-borderless">
                                <tbody class="totals">
                                    <tr>
                                        <td>
                                            <div class="text-left">
                                                <span class="text-muted">Subtotal</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <span>$145.00</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-left">
                                                <span class="text-muted">Shipping Fee</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <span>$10.00</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-left">
                                                <span class="text-muted">Tax Fee</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <span>$3.50</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-left">
                                                <span class="text-muted">Discount</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <span class="text-success">-$25.00</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="border-top border-bottom">
                                        <td>
                                            <div class="text-left">
                                                <span class="font-weight-bold">Total</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <span class="font-weight-bold">$133.50</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <p>We will be sending a shipping confirmation email when the item is successfully shipped!</p>
                    <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
                    <span>Ozark Team</span>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../userLayouts/footer.ejs') %>
