<%- include('../userLayouts/header.ejs') %>
<%- include('../userLayouts/navbar.ejs') %>

<style>
  .featured-product-image {
    max-height: 400px;
    margin: 0 auto;
  }
  .featured-product-images {
    max-height: 200px;
    width: 100%;
    margin: 0 auto;
  }

  .thumbnail-image {
    max-height: 80px; 
    width: auto; 
    margin: 0 5px; 
  }

  .zoom-container {
    position: relative;
    overflow: hidden;
  }

  .zoom-window {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .featured-product-image {
    width: 100%;
    transition: transform 0.3s ease-in-out;
  }

  .zoom-container:hover .featured-product-image {
    transform: scale(1.2); 
  }
  .discounted-price {
        color: #e44d26; 
        font-size: 24px; 
        margin-bottom: 0;
    }

    .actual-price {
        color: #333; 
        font-size: 18px; 
        text-decoration: line-through; 
        margin-bottom: 0;
    }

    .discount-percentage {
        color: #e44d26; 
    }
    .item {
        position: relative;
    }

    .block-4-text-new {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .actual-price-new {
        text-decoration: line-through;
        color: #333; 
        font-size: 18px; 
        margin-bottom: 0;
    }

    .discounted-price-new {
        color: #e44d26; 
        font-size: 24px; 
        font-weight: bold;
        margin-bottom: 0;
    }

    .discount-icon-new {
        color: #e44d26; 
        margin-left: 5px; 
    }
    .cake{
      font-size: 20px;
    }
</style>

<div class="site-wrap">
  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0">
          <a href="/">Home</a> <span class="mx-2 mb-0">/</span><a href="/shop">Shop</a>
          <span class="mx-2 mb-0">/</span>
          <strong class="text-black"><%= Product.productname %></strong>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row">


       <div class="col-md-6">
  <div id="imageCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% if (Product && Product.image && Product.image.length > 0) { Product.image.forEach((data, index) => { %>
      <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
        <img
          id="myImage"
          src="/static/admin/Assets/images/products/<%= data %>"
          class="d-block img-drift-demo-trigger featured-product-image MagicZoom"
          alt="Image"
        />
      </div>
      <% }); } else { %>
      <div class="carousel-item active">
        <img
          id="myImage"
          src="/static/admin/Assets/images/products/<%= data %>"
          class="d-block img-drift-demo-trigger featured-product-image MagicZoom"
          alt="Placeholder Image"
        />
      </div>
      <% } %>
    </div>
    <div class="carousel-controls">
      <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>



        <div class="col-md-6">
          <h2 class="text-black"><%= Product.productname %></h2>
          <p class="m-0 cake"><%= Product.category.categoryname %></p>
          <p class="m-0 cake">Size: <%= Product.size %></p>
          <% if (categoryDiscount > 0 || (Product.discountPercentage && parseFloat(Product.discountPercentage) > 0)) { %>
            <% 
                const productDiscountedPrice = Product.price - (Product.price * Product.discountPercentage / 100);
                const categoryDiscountedPrice = Product.price - (Product.price * categoryDiscount / 100);
                const finalDiscountedPrice = Math.min(productDiscountedPrice, categoryDiscountedPrice);
            %>
            <p class="discounted-price"><%= finalDiscountedPrice.toLocaleString('en-IN', { style: 'currency', currency: 'INR' }) %></p>
            <p class="actual-price"><%= Product.price.toLocaleString('en-IN', { style: 'currency', currency: 'INR' }) %></p>
        <% } else { %>
            <p><strong class="text-primary h4"><%= Product.price.toLocaleString('en-IN', { style: 'currency', currency: 'INR' }) %></strong></p>
        <% } %>

          <div class="mb-3">
            <div class="input-group mb-3" style="max-width: 120px">
              <div class="input-group-prepend">
                <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
              </div>
              <input
                type="text"
                class="form-control text-center"
                name="quantity"
                id="quantityInput"
                value="1"
                placeholder="1"
                aria-label="Example text with button addon"
                aria-describedby="button-addon1"
                min="1"
                readonly
              />
              <div class="input-group-append">
                <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
              </div>
            </div>
          </div>

          <p>
            <a
              href="#"
              class="addToWishlistBtn btn btn-sm"
              id="cool"
              style="color: white; background-color: orange; border-radius: 20px"
              data-product-id="<%= Product._id %>"
              >Add to Wishlist</a
            >
          </p>

          <p>
            <a
              href="#"
              class="addToCartBtn btn btn-sm"
              id="hot"
              style="background-color: rgb(52, 186, 47); color: black; border-radius: 20px"
              data-product-id="<%= Product._id %>"
            >
              Add To Cart
            </a>
          </p>

          <p>
            <a href="/cart" class="buy-now btn btn-sm btn-dark" style="color: white; border-radius: 20px"
              >Go To Cart</a
            >
          </p>
        </div>
      </div>

      <div class="col-md-12 mt-3">
        <div class="thumbnail-container">
          <% if (Product && Product.image && Product.image.length > 0) { 
            Product.image.forEach((data, index) => { %>
              <a data-fancybox="gallery" href="/static/admin/Assets/images/products/<%= data %>">
                <img
                  src="/static/admin/Assets/images/products/<%= data %>"
                  alt="Thumbnail Image"
                  class="thumbnail-image"
                  onclick="changeImage('<%= data %>')"
                />
              </a>
          <% }); } %>
        </div>
      </div>

      <div class="site-section block-3 site-blocks-2 bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 site-section-heading text-center pt-4">
                    <h2>Featured Products</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="nonloop-block-3 owl-carousel">
                        <% if (data.length > 0) { for (let i = 0; i < Math.min(data.length, 5); i++) { %>
                        <div class="item">
                            <div class="block-4 text-center">
                                <figure class="block-4-image">
                                  <a href="/product-info?id=<%= data[i]._id %>">
                                    <img
                                    src="/static/admin/Assets/images/products/<%= data[i].image[0] %>"
                                    alt="Image placeholder"
                                    class="img-fluid featured-product-images"
                                />
                                  </a>
                                </figure>
                                <div class="block-4-text p-1">
                                    <h3 style="color: black;"><%= data[i].productname %></h3>
                                    <p class="mb-0">Finding the perfect t-shirt</p>
                                    <% if (data[i].discountPercentage && parseFloat(data[i].discountPercentage) > 0) { %>
                                      <span class="actual-price-new">₹<%= data[i].price %></span>
                                      <span class="center-line"></span>
                                      <span class="discounted-price-new">₹<%= data[i].discountedPrice %></span>
                                      <i class="material-icons discount-icon-new">local_offer</i>
                                  <% } else { %>
                                      <span class="font-weight-bold" style="color: black;">₹<%= data[i].price %></span>
                                  <% } %>
                                </div>
                            </div>
                        </div>
                        <% } } %>
                    </div>
                </div>
            </div>


        </div>
    </div>

    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    MagicZoom.init();
  });
</script>


<script>
  // Initialize Fancybox
  $(document).ready(function() {
    $(".thumbnail-image").fancybox({
      baseClass: "fancybox-custom-layout",
      infobar: false,
      buttons: ["zoom", "slideShow", "fullScreen", "thumbs", "close"],
      animationEffect: "fade",
      transitionEffect: "fade",
      preventCaptionOverlap: false,
      idleTime: false,
    });
  });
</script>





<script>
  var clicked = true;

  document.body.addEventListener("click", async (event) => {
      if (event.target.matches(".addToWishlistBtn")) {
          const productId = event.target.getAttribute("data-product-id");

          try {
              const response = await fetch("/addToWishlist?id=" + productId, {
                  method: "POST",
                  headers: {
                      "Content-Type": "application/json",
                  },
                  body: JSON.stringify({ id: productId }),
              });

              const data = await response.json();

              if (response.ok) {
                  Swal.fire({
                      position: "center",
                      icon: "success",
                      title: "Success!",
                      text: data.message,
                  });
              } else {
                  Swal.fire({
                      position: "center",
                      icon: "warning",
                      title: "Warning!",
                      text: data.message || "An error occurred while adding the product to the wishlist.",
                  });
              }
          } catch (error) {
              // Handle fetch error
              console.error("There was a problem with the fetch operation:", error);
          }
      }
  });

  document.body.addEventListener("click", async (event) => {
      if (event.target.matches(".addToCartBtn")) {
          const productId = event.target.getAttribute("data-product-id");
          const quantityInput = document.getElementById("quantityInput");
          const quantity = parseInt(quantityInput.value, 10);

          if (!isNaN(quantity) && quantity > 0) {
              try {
                  const response = await fetch("/addToCart", {
                      method: "POST",
                      headers: {
                          "Content-Type": "application/json",
                      },
                      body: JSON.stringify({ id: productId, quantity: quantity }),
                  });

                  const data = await response.json();

                  if (response.ok) {
                      Swal.fire({
                          icon: "success",
                          title: "Success!",
                          text: data.message,
                      });
                  } else if (response.status === 402) {
                      Swal.fire({
                          icon: "info",
                          title: "Sorry!",
                          text: data.message,
                      });
                  } else if (response.status === 400) {
                      Swal.fire({
                          icon: "warning",
                          title: "Warning!",
                          text: data.message,
                      });
                  } else {
                      Swal.fire({
                          icon: "error",
                          title: "Error!",
                          text: data.message || "An error occurred while adding the product to the cart.",
                      });
                  }
              } catch (error) {
                  Swal.fire({
                      icon: "error",
                      title: "Error!",
                      text: "An error occurred while adding the product to the cart.",
                  });
                  console.error("There was a problem with the fetch operation:", error);
              }
          } else {
              console.error("Invalid quantity");
              // Optionally, show an error message to the user
          }
      }
  });

  document.body.addEventListener("click", async (event) => {
      if (event.target.matches(".js-btn-minus")) {
          const quantityInput = document.getElementById("quantityInput");
          let currentQuantity = parseInt(quantityInput.value, 10);

          // Ensure the quantity does not go below 1
          if (currentQuantity > 1) {
              currentQuantity--;
          } else {
              currentQuantity = 1;
          }

          quantityInput.value = currentQuantity;
      }
  });
</script>



<%- include('../userLayouts/footer.ejs') %>
