<%- include('../userLayouts/header.ejs') %> <%- include('../userLayouts/navbar.ejs') %>

<style>
    .featured-product-image {
        max-height: 400px;
        margin: 0 auto;
    }
    .featured-product-images {
        max-height: 200px;
        width: 100%;
        margin: 0 auto;
    }

    .thumbnail-image {
        max-height: 80px;
        width: auto;
        margin: 0 5px;
    }

    .zoom-container {
        position: relative;
        overflow: hidden;
    }

    .zoom-window {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .featured-product-image {
        width: 100%;
        transition: transform 0.3s ease-in-out;
    }

    .zoom-container:hover .featured-product-image {
        transform: scale(1.2);
    }
    .discounted-price {
        color: #e44d26;
        font-size: 24px;
        margin-bottom: 0;
    }

    .actual-price {
        color: #333;
        font-size: 18px;
        text-decoration: line-through;
        margin-bottom: 0;
    }

    .discount-percentage {
        color: #e44d26;
    }
    .item {
        position: relative;
    }

    .block-4-text-new {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .actual-price-new {
        text-decoration: line-through;
        color: #333;
        font-size: 18px;
        margin-bottom: 0;
    }

    .discounted-price-new {
        color: #e44d26;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0;
    }

    .discount-icon-new {
        color: #e44d26;
        margin-left: 5px;
    }
    .cake {
        font-size: 20px;
    }
    .user-review-container {
            border: 1px solid #ddd;
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 20px;
        }

        .user-details {
            background-color: #f8f9fa;
            padding: 20px;
        }

        .user-details h5 {
            margin-bottom: 5px;
        }

        .user-rating-review {
            padding: 20px;
        }

        .user-rating-review h5 {
            margin-bottom: 10px;
            color: #007bff;
        }

        .no-reviews {
            text-align: center;
            font-style: italic;
            color: #6c757d;
        }
        .rating {
  display: flex;
  justify-content: left;
  --fill: #ffc73a;
}

.rating svg {
  width: 2rem;
  height: 2rem;
  overflow: visible;
  fill: transparent;
  stroke: var(--stroke);
  stroke-linejoin: bevel;
  stroke-dasharray: 12;
  animation: idle 4s linear infinite;
  transition: stroke 0.2s, fill 0.5s;
}

@keyframes idle {
  from {
    stroke-dashoffset: 24;
  }
}

.rating label:hover svg {
  stroke: var(--fill);
}

.rating input:checked ~ label svg {
  transition: 0s;
  animation: idle 4s linear infinite, yippee 0.75s backwards;
  fill: var(--fill);
  stroke: var(--fill);
  stroke-opacity: 0;
  stroke-dasharray: 0;
  stroke-linejoin: miter;
  stroke-width: 8px;
}

@keyframes yippee {
  0% {
    transform: scale(1);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30% {
    transform: scale(0);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30.1% {
    stroke: var(--fill);
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }

  60% {
    transform: scale(1.2);
    fill: var(--fill);
  }
}

</style>

<div class="site-wrap">
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="/">Home</a> <span class="mx-2 mb-0">/</span><a href="/shop">Shop</a>
                    <span class="mx-2 mb-0">/</span>
                    <strong class="text-black"><%= Product.productname %></strong>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="imageCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <% if (Product && Product.image && Product.image.length > 0) { Product.image.forEach((data,
                            index) => { %>
                            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                <img
                                    id="myImage"
                                    src="/static/admin/Assets/images/products/<%= data %>"
                                    class="d-block img-drift-demo-trigger featured-product-image"
                                    alt="Image"
                                />
                            </div>
                            <% }); } else { %>
                            <div class="carousel-item active">
                                <img
                                    id="myImage"
                                    src="/static/admin/Assets/images/products/<%= data %>"
                                    class="d-block img-drift-demo-trigger featured-product-image"
                                    alt="Placeholder Image"
                                />
                            </div>
                            <% } %>
                        </div>
                        <div class="carousel-controls">
                            <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <h2 class="text-black"><%= Product.productname %></h2>
                        <div class="rating p-0">
                            <% for (let i = 1; i <= 5; i++) { %>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29">
                                    <path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"
                                        fill="<%= i <= Math.round(Product.averageRating) ? 'gold' : 'gray' %>"></path>
                                </svg>
                            <% } %>
                        </div>
                    <p class="m-0 cake"><%= Product.category.categoryname %></p>
                    <p class="m-0 cake">Size: <%= Product.size %></p>
                    <% if (categoryDiscount > 0 || (Product.discountPercentage && parseFloat(Product.discountPercentage) >
                    0)) { %> <% const productDiscountedPrice = Product.price - (Product.price * Product.discountPercentage /
                    100); const categoryDiscountedPrice = Product.price - (Product.price * categoryDiscount / 100); const
                    finalDiscountedPrice = Math.min(productDiscountedPrice, categoryDiscountedPrice); %>
                    <p class="discounted-price">
                        <%= finalDiscountedPrice.toLocaleString('en-IN', { style: 'currency', currency: 'INR' }) %>
                    </p>
                    <p class="actual-price">
                        <%= Product.price.toLocaleString('en-IN', { style: 'currency', currency: 'INR' }) %>
                    </p>
                    <% } else { %>
                    <p>
                        <strong class="h4"
                            ><%= Product.price.toLocaleString('en-IN', { style: 'currency', currency: 'INR' }) %></strong
                        >
                    </p>
                    <% } %>

                    <div class="mb-3">
                        <div class="input-group mb-3" style="max-width: 120px">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                            </div>
                            <input
                                type="text"
                                class="form-control text-center"
                                name="quantity"
                                id="quantityInput"
                                value="1"
                                placeholder="1"
                                aria-label="Example text with button addon"
                                aria-describedby="button-addon1"
                                min="1"
                                readonly
                            />
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                            </div>
                        </div>
                    </div>

                    <p>
                        <a
                            href="#"
                            class="addToWishlistBtn btn btn-sm"
                            id="cool"
                            style="color: black; border-radius: 5px; border-color: #333;"
                            data-product-id="<%= Product._id %>"
                            >Add to Wishlist</a
                        >
                    </p>

                    <p>
                        <a
                            href="#"
                            class="addToCartBtn btn btn-sm"
                            id="hot"
                            style="background-color: rgb(52, 186, 47); color: black; border-radius: 5px"
                            data-product-id="<%= Product._id %>"
                        >
                            Add To Cart
                        </a>
                    </p>
                                               
                </div>
                
                <div class="col-md-3">
                  <h3 class="text-center mb-3">Size Chart</h3>
              
                  <table class="table table-bordered text-center">
                      <thead class="thead-light">
                          <tr>
                              <th class="align-middle">Size</th>
                              <th class="align-middle">Men</th>
                              <th class="align-middle">Women</th>
                              <th class="align-middle">Kids</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td class="align-middle">10-15</td>
                              <td class="align-middle">S</td>
                              <td class="align-middle">XS</td>
                              <td class="align-middle">XXS</td>
                          </tr>
                          <tr>
                              <td class="align-middle">15-25</td>
                              <td class="align-middle">M</td>
                              <td class="align-middle">S</td>
                              <td class="align-middle">XS</td>
                          </tr>
                          <tr>
                              <td class="align-middle">25-30</td>
                              <td class="align-middle">L</td>
                              <td class="align-middle">M</td>
                              <td class="align-middle">S</td>
                          </tr>
                          <tr>
                              <td class="align-middle">30-35</td>
                              <td class="align-middle">XL</td>
                              <td class="align-middle">L</td>
                              <td class="align-middle">M</td>
                          </tr>
                          <tr>
                              <td class="align-middle">35-40</td>
                              <td class="align-middle">XXL</td>
                              <td class="align-middle">XL</td>
                              <td class="align-middle">L</td>
                          </tr>
                          <tr>
                              <td class="align-middle">40-45</td>
                              <td class="align-middle">XXL</td>
                              <td class="align-middle">XXL</td>
                              <td class="align-middle">XL</td>
                          </tr>
                          <!-- Add more rows for sizes 22 to 45 if needed -->
                      </tbody>
                  </table>
              </div>   
            </div>

            <div class="col-md-12 mt-3">
                <div class="thumbnail-container">
                    <% if (Product && Product.image && Product.image.length > 0) { Product.image.forEach((data, index) => {
                    %>
                    <a data-fancybox="gallery" href="/static/admin/Assets/images/products/<%= data %>">
                        <img
                            src="/static/admin/Assets/images/products/<%= data %>"
                            alt="Thumbnail Image"
                            class="thumbnail-image"
                        />
                    </a>
                    <% }); } %>
                </div>
            </div>

            <div class="site-section block-3 site-blocks-2 bg-light">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-7 site-section-heading text-center pt-4">
                            <h2>Featured Products</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="nonloop-block-3 owl-carousel">
                                <% if (data.length > 0) { for (let i = 0; i < Math.min(data.length, 5); i++) { %>
                                <div class="item">
                                    <div class="block-4 text-center">
                                        <figure class="block-4-image">
                                            <a href="/product-info?id=<%= data[i]._id %>">
                                                <img
                                                    src="/static/admin/Assets/images/products/<%= data[i].image[0] %>"
                                                    alt="Image placeholder"
                                                    class="img-fluid featured-product-images"
                                                />
                                            </a>
                                        </figure>
                                        <div class="block-4-text p-1">
                                            <h3 style="color: black"><%= data[i].productname %></h3>
                                            <p class="mb-0">Finding the perfect t-shirt</p>
                                            <% if (data[i].discountPercentage && parseFloat(data[i].discountPercentage) > 0)
                                            { %>
                                            <span class="actual-price-new">₹<%= data[i].price %></span>
                                            <span class="center-line"></span>
                                            <span class="discounted-price-new">₹<%= data[i].discountedPrice %></span>
                                            <i class="material-icons discount-icon-new">local_offer</i>
                                            <% } else { %>
                                            <span class="font-weight-bold" style="color: black">₹<%= data[i].price %></span>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                                <% } } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="site-section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-7 site-section-heading text-center pt-4">
                            <h2>User Ratings and Reviews</h2>
                        </div>
                    </div>
            
                    <div class="row">
                        <% if (userRatingsAndReviews.length > 0) { %>
                            <% for (let i = 0; i < userRatingsAndReviews.length; i++) { %>
                                <div class="col-md-12">
                                    <div class="user-review-container">
                                        <!-- Display user details (replace with actual user data) -->
                                        <div class="user-details">
                                            <h5><%= userRatingsAndReviews[i].user.first_name %></h5>
                                            
                                            <div class="rating">
                                               
                                                <% for (let j = 1; j <= 5; j++) { %>
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29">
                                                        <path pathLength="360" d="M12,17.27L18.18,21,L16.54,13.97,L22,9.24,L14.81,8.62,L12,2,L9.19,8.62,L2,9.24,L7.45,13.97,L5.82,21,L12,17.27Z"
                                                            fill="<%= j <= parseInt(userRatingsAndReviews[i].rating) ? 'gold' : 'gray' %>"></path>
                                                    </svg>
                                                <% } %>
                                            </div>
                                            <p><%= userRatingsAndReviews[i].comment %></p>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% } else { %>
                            <div class="col-md-12">
                                <p class="no-reviews">No ratings and reviews yet.</p>
                            </div>
                        <% } %>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $(".thumbnail-image").fancybox({
            baseClass: "fancybox-custom-layout",
            infobar: false,
            buttons: ["zoom", "slideShow", "fullScreen", "thumbs", "close"],
            animationEffect: "fade",
            transitionEffect: "fade",
            preventCaptionOverlap: false,
            idleTime: false,
        });
    });
</script>

<script>
    var clicked = true;

    document.body.addEventListener("click", async (event) => {
        if (event.target.matches(".addToWishlistBtn")) {
            const productId = event.target.getAttribute("data-product-id");

            try {
                const response = await fetch("/addToWishlist?id=" + productId, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ id: productId }),
                });

                const data = await response.json();

                if (response.ok) {
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: "Success!",
                        text: data.message,
                    });
                } else {
                    Swal.fire({
                        position: "center",
                        icon: "warning",
                        title: "Warning!",
                        text: data.message || "An error occurred while adding the product to the wishlist.",
                    });
                }
            } catch (error) {
                // Handle fetch error
                console.error("There was a problem with the fetch operation:", error);
            }
        }
    });

    document.body.addEventListener("click", async (event) => {
        if (event.target.matches(".addToCartBtn")) {
            const productId = event.target.getAttribute("data-product-id");
            const quantityInput = document.getElementById("quantityInput");
            const quantity = parseInt(quantityInput.value, 10);

            if (!isNaN(quantity) && quantity > 0) {
                try {
                    const response = await fetch("/addToCart", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ id: productId, quantity: quantity }),
                    });

                    const data = await response.json();

                    if (response.ok) {
                        Swal.fire({
                            icon: "success",
                            title: "Success!",
                            text: data.message,
                        });
                    } else if (response.status === 402) {
                        Swal.fire({
                            icon: "info",
                            title: "Sorry!",
                            text: data.message,
                        });
                    } else if (response.status === 400) {
                        Swal.fire({
                            icon: "warning",
                            title: "Warning!",
                            text: data.message,
                        });
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Error!",
                            text: data.message || "An error occurred while adding the product to the cart.",
                        });
                    }
                } catch (error) {
                    Swal.fire({
                        icon: "error",
                        title: "Error!",
                        text: "An error occurred while adding the product to the cart.",
                    });
                    console.error("There was a problem with the fetch operation:", error);
                }
            } else {
                console.error("Invalid quantity");
                // Optionally, show an error message to the user
            }
        }
    });

    document.body.addEventListener("click", async (event) => {
        if (event.target.matches(".js-btn-minus")) {
            const quantityInput = document.getElementById("quantityInput");
            let currentQuantity = parseInt(quantityInput.value, 10);

            // Ensure the quantity does not go below 1
            if (currentQuantity > 1) {
                currentQuantity--;
            } else {
                currentQuantity = 1;
            }

            quantityInput.value = currentQuantity;
        }
    });
</script>

<%- include('../userLayouts/footer.ejs') %>
